{% load da_wire_extras %}
{% for callup in callups %}
        <li class="something" id="transaction_{{callup.transaction.tid}}">
                {% if request.user.is_authenticated %}
                <div style="display:inline; padding-right: 2px; border-right: 2px solid black;" class="count">{{callup.votes}}</div>
                <div class="arrows">
                    <form id="transaction_upvote_{{ callup.transaction.tid }}" action="{% url 'transaction_upvote' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tid" value="{{ callup.transaction.tid }}">
            </form>
            <form id="transaction_downvote_{{ callup.transaction.tid }}" action="{% url 'transaction_downvote' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tid" value="{{ callup.transaction.tid }}">
	    </form>
                    <div class="up" onclick="ajax_submit_upvote('{{ callup.transaction.tid }}')"></div>
            <div class="down" onclick="ajax_submit_downvote('{{ callup.transaction.tid }}')"></div>
                </div>
                {% endif %}

        	<a style="display:inline;" href="{% url 'transaction' callup.transaction.tid %}">&#8618;</a> 
		<div class="display">
			<b>{{callup.date }}</b> - <a href="{% url 'transaction' callup.player.transaction.tid %}">{{callup.player.first_name }} {{ callup.player.last_name }}</a> 
        {% get_affiliate callup.to_level callup.mlbteam as team_to %}
	to <b style="color: {{team_to.colors.all.0}}; text-shadow: 1px 1px {{team_to.colors.all.1}};">{{team_to.location }} {{team_to.name }}</b> from 
        {% get_affiliate callup.from_level callup.mlbteam as team %}
        <a href="{% url 'team' team.location|replace_forward_slash team.name %}">{{callup.from_level.level }} {{ team.location }}</a>
		</div> 
	</li>
{% endfor %}
{% if request.user.is_authenticated %}
<script>
          $(document).ready(function(){
              {% for fa in callups %}
                  {% if fa.user_upvoted == 1 %}
                         $('#transaction_{{fa.transaction.tid}} .up').addClass('upvoted');
                  {% elif fa.user_upvoted == -1 %}       
                         $('#transaction_{{fa.transaction.tid}} .down').addClass('upvoted');
                  {% endif %}
                  
            {% endfor %}
            });
</script>
{% endif %}
