{% for dfa in dfas %}
        <li class="something" id="transaction_{{dfa.transaction.tid}}">
                {% if request.user.is_authenticated %}
                <div style="display:inline; padding-right: 2px; border-right: 2px solid black;" class="count">{{dfa.votes}}</div>
                <div class="arrows">
                    <form id="transaction_upvote_{{ dfa.transaction.tid }}" action="{% url 'transaction_upvote' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tid" value="{{ dfa.transaction.tid }}">
            </form>
            <form id="transaction_downvote_{{ dfa.transaction.tid }}" action="{% url 'transaction_downvote' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tid" value="{{ dfa.transaction.tid }}">
            </form>
                    <div class="up" onclick="ajax_submit_upvote('{{ dfa.transaction.tid }}')"></div>
            <div class="down" onclick="ajax_submit_downvote('{{ dfa.transaction.tid }}')"></div>
                </div>
                {% endif %}
		
                 <a href="{% url 'transaction' dfa.transaction.tid %}">&#8618;</a> 
		<div class="display">
			<b>{{dfa.date }}</b> - <a href="{% url 'transaction' dfa.player.transaction.tid %}">{{dfa.player.first_name }} {{ dfa.player.last_name }}</a> designated for assignment by {{ dfa.team_by.location }} {{ dfa.team_by.name }}
		</div>         
	</li>
                 <hr>
{% endfor %}
{% if request.user.is_authenticated %}
<script>
          $(document).ready(function(){
              {% for fa in dfas %}
                  {% if fa.user_upvoted == 1 %}
                         $('#transaction_{{fa.transaction.tid}} .up').addClass('upvoted');
                  {% elif fa.user_upvoted == -1 %}       
                         $('#transaction_{{fa.transaction.tid}} .down').addClass('upvoted');
                  {% endif %}
                  
            {% endfor %}
            });
</script>
{% endif %}
