{% for fa in fas %}
<li class="something" id="transaction_{{fa.transaction.tid}}">
	<div class="row">
		<div class="col-sm-12">
                {% if request.user.is_authenticated %}
                <div style="display:inline; padding-right: 2px; border-right: 2px solid black;" class="count">{{fa.votes}}</div>
                <div class="arrows">
                    <form id="transaction_upvote_{{fa.transaction.tid}}" action="{% url 'transaction_upvote' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="tid" value="{{ fa.transaction.tid }}">
                    </form>
                    <form id="transaction_downvote_{{fa.transaction.tid}}" action="{% url 'transaction_downvote' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="tid" value="{{ fa.transaction.tid }}">
                    </form>
                    <div class="up" onclick="ajax_submit_upvote('{{ fa.transaction.tid }}')"></div>
                    <div class="down" onclick="ajax_submit_downvote('{{ fa.transaction.tid }}')"></div>
                </div>
                {% endif %}
		{% load da_wire_extras %}
		<div class="display">
                <span>
			{% load static %}
			{% if fa.picture %}<img class="picture" src="{{ fa.picture }}"/>{% endif %} <b>{{fa.position}}</b> <i><a href="{% url 'transaction' fa.transaction.tid %}">{{fa}}</a></i>
                </span>
		</div>
		</div>
		<div class="col-sm-12">
				{% if fa.stats %}<table id="stats"><caption>M{% if not fa.stats.is_mlb %}i{% endif %}LB Career</caption>
			{% if fa.stats.batter_stats %}
			<tr><th>AVG</th><th>OBP</th><th>OPS</th></tr>
			<tr><td>{{fa.stats.batter_stats.avg|remove_zero}}</td><td>{{fa.stats.batter_stats.OBP|remove_zero}}</td><td>{{fa.stats.batter_stats.OPS|remove_zero}}</td>
			{% endif %}
			{% if fa.stats.pitcher_stats %}
			<tr><th>ERA</th><th>SO</th><th>WHIP</th></tr>
			<tr><td>{{fa.stats.pitcher_stats.ERA}}</td><td>{{fa.stats.pitcher_stats.SO}}</td><td>{{fa.stats.pitcher_stats.WHIP}}</td>
			{% endif %}
		</table>{%endif %}
		</div>
            </li>
{% endfor %}
{% if request.user.is_authenticated %}
<script>
          $(document).ready(function(){
              {% for fa in fas %}
                  {% if fa.user_upvoted == 1 %}
                         $('#transaction_{{fa.transaction.tid}} .up').addClass('upvoted');
                  {% elif fa.user_upvoted == -1 %}       
                         $('#transaction_{{fa.transaction.tid}} .down').addClass('upvoted');
                  {% endif %}
                  
            {% endfor %}
 
            });
</script>
{% endif %}
