{% for injured in injured_list %}
        <li class="something" id="transaction_{{injured.transaction.tid}}">
                {% if request.user.is_authenticated %}
                <div style="display:inline; padding-right: 2px; border-right: 2px solid black;" class="count">{{injured.votes}}</div>
                <div class="arrows">
                    <form id="transaction_upvote_{{ injured.transaction.tid }}" action="{% url 'transaction_upvote' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tid" value="{{ injured.transaction.tid }}">
            </form>
            <form id="transaction_downvote_{{ injured.transaction.tid }}" action="{% url 'transaction_downvote' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tid" value="{{ injured.transaction.tid }}">
            </form>
                    <div class="up" onclick="ajax_submit_upvote('{{ injured.transaction.tid }}')"></div>
            <div class="down" onclick="ajax_submit_downvote('{{ injured.transaction.tid }}')"></div>
                </div>
                {% endif %}
                <b>{{injured.date}}</b> - <a href="{{injured.player.bb_ref}}" target=_blank>{{injured.player.first_name}} {{injured.player.last_name}}</a> - {{injured.length}}-day IL
                <a href="{% url 'transaction' injured.transaction.tid %}">&#129193;</a> 
                </li>
    <hr>
{% endfor %}
{% if request.user.is_authenticated %}
<script>
          $(document).ready(function(){
              {% for fa in injured_list %}
                  {% if fa.user_upvoted == 1 %}
                         $('#transaction_{{fa.transaction.tid}} .up').addClass('upvoted');
                  {% elif fa.user_upvoted == -1 %}       
                         $('#transaction_{{fa.transaction.tid}} .down').addClass('upvoted');
                  {% endif %}
                  
            {% endfor %}
            });
</script>
{% endif %}