{% load da_wire_extras %}
{% for option in options %}
        <li class="something" id="transaction_{{option.transaction.tid}}">
                {% if request.user.is_authenticated %}
                <div style="display:inline; padding-right: 2px; border-right: 2px solid black;" class="count">{{option.votes}}</div>
                <div class="arrows">
                    <form id="transaction_upvote_{{ option.transaction.tid }}" action="{% url 'transaction_upvote' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tid" value="{{ option.transaction.tid }}">
            </form>
            <form id="transaction_downvote_{{ option.transaction.tid }}" action="{% url 'transaction_downvote' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tid" value="{{ option.transaction.tid }}">
            </form>
                    <div class="up" onclick="ajax_submit_upvote('{{ option.transaction.tid }}')"></div>
            <div class="down" onclick="ajax_submit_downvote('{{ option.transaction.tid }}')"></div>
                </div>
                {% endif %}

        	<a href="{% url 'transaction' option.transaction.tid %}">&#8618;</a> 
		<div class="display">
			<b>{{option.date }}</b> - <a href="{% url 'transaction' option.player.transaction.tid %}">{{option.player.first_name }} {{ option.player.last_name }}</a>
        {% get_affiliate option.to_level.level option.mlbteam as team_to %}
	to <b style="color: {{team_to.colors.all.0}}; text-shadow: 1px 1px {{team_to.colors.all.1}};">{{team_to.location }} {{team_to.name }}</b> ({{ option.to_level.level }}) from {{ option.from_level.level }} 
        {% get_affiliate option.from_level.level option.mlbteam as team %}
        <a href="{% url 'team' team.location|replace_forward_slash team.name %}">{{ team.location }}</a>
		</div>
	</li>
{% endfor %}
{% if request.user.is_authenticated %}
<script>
          $(document).ready(function(){
              {% for fa in options %}
                  {% if fa.user_upvoted == 1 %}
                         $('#transaction_{{fa.transaction.tid}} .up').addClass('upvoted');
                  {% elif fa.user_upvoted == -1 %}       
                         $('#transaction_{{fa.transaction.tid}} .down').addClass('upvoted');
                  {% endif %}
                  
            {% endfor %}
            });
</script>
{% endif %}
