{% load da_wire_extras %}
		{% for option_proposal in option_proposals %}
<li class="something" id="transaction_{{option_proposal.transaction.tid}}" >
		<h3 style="display:inline;">@{{option_proposal.user.username}}</h3> &middot; <span class="count">{{ option_proposal.votes }} upvotes</span> <a href="{% url 'transaction' option_proposal.transaction.tid %}">&#8618;</a> 
		{% if arrows %}
		<div class="arrows">
                    <form id="transaction_upvote_{{ option_proposal.transaction.tid }}" action="{% url 'transaction_upvote' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tid" value="{{ option_proposal.transaction.tid }}">
            </form>
            <form id="transaction_downvote_{{ option_proposal.transaction.tid }}" action="{% url 'transaction_downvote' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tid" value="{{ option_proposal.transaction.tid }}">
            </form>
                    <div class="up" onclick="ajax_submit_upvote('{{ option_proposal.transaction.tid }}')"></div>
            <div class="down" onclick="ajax_submit_downvote('{{ option_proposal.transaction.tid }}')"></div>
                </div>
		{% endif %}
	{% if option_proposal.user.id == request.user.id %}
		<form  style="float:right;" onsubmit="return confirm('Are you sure you want to delete your proposal?');" action="{% url 'delete_transaction' %}" method="POST">
            <button class="btn btn-danger" type=submit>Delete Proposal</button>
	    <input type=hidden name="tid" value="{{ option_proposal.transaction.tid }}" />
            {% csrf_token %}
        </form>
	{% endif %}
	<div>
		<b>{{option_proposal.date }}</b> - {{option_proposal.player.position}} <a href="{% url 'transaction' option_proposal.player.transaction.tid %}">{{option_proposal.player }}</a> <i>should be</i> optioned
        {% get_affiliate option_proposal.to_level option_proposal.mlbteam as team_to %}
	to <a href="{% url 'team' team_to.location|replace_forward_slash team_to.name%}">{{team_to.location }} {{team_to.name }}</a> ({{ option_proposal.to_level.level }}) from {{ option_proposal.from_level.level }} 
        {% get_affiliate option_proposal.from_level option_proposal.mlbteam as team %}
        <a href="{% url 'team' team.location|replace_forward_slash team.name %}">{{ team.location }}</a>
	</div>	
	
	</li>
	{% endfor %}
<script>
          $(document).ready(function(){
              {% for fa in option_proposals %}
                  {% if fa.user_upvoted == 1 %}
                         $('#transaction_{{fa.transaction.tid}} .up').addClass('upvoted');
                  {% elif fa.user_upvoted == -1 %}       
                         $('#transaction_{{fa.transaction.tid}} .down').addClass('upvoted');
                  {% endif %}
                  
            {% endfor %}
            });
</script>
