{% load da_wire_extras %}
{% for trade in trades %}
        <li class="something" id="transaction_{{trade.transaction.tid}}">
                {% if request.user.is_authenticated %}
                <div style="display:inline; padding-right: 2px; border-right: 2px solid black;" class="count">{{trade.votes}}</div>
                <div class="arrows">
                    <form id="transaction_upvote_{{ trade.transaction.tid }}" action="{% url 'transaction_upvote' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tid" value="{{ trade.transaction.tid }}">
            </form>
            <form id="transaction_downvote_{{ trade.transaction.tid }}" action="{% url 'transaction_downvote' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tid" value="{{ trade.transaction.tid }}">
            </form>
                    <div class="up" onclick="ajax_submit_upvote('{{ trade.transaction.tid }}')"></div>
            <div class="down" onclick="ajax_submit_downvote('{{ trade.transaction.tid }}')"></div>
                </div>
                {% endif %}
		
        <a href="{% url 'transaction' trade.transaction.tid %}">&#8618;</a> 
		<div class="display">
			<b>{{ trade.date }}</b><ul>{% for players in trade.players.all %}{% with forloop.counter as cntr %} {% for player in players.players.all %} 
				<li><a href="{% url 'transaction' player.transaction.tid %}">{{player}}</a> 
					to <a href="{% url 'team' players.team_to.location|replace_forward_slash players.team_to.name %}"><b style="color: {{players.team_to.colors.all.0}}; text-shadow: 1px 1px {{players.team_to.colors.all.1}};">{{players.team_to.mlbteam.name}}</b></a> from <a href="{% url 'team' players.team_from.location|replace_forward_slash players.team_from.name %}"><b style="color: {{players.team_from.colors.all.0}}; text-shadow: 1px 1px {{players.team_from.colors.all.1}};">{{players.team_from.mlbteam.name}}</b></a></li> {% endfor %} 
       {% if cntr != trade.players.all|length %} 
	<hr>{% endif %}
				{% endwith %} 
	{% endfor %} </ul>
	</div>
	</li>
{% endfor %}

{% if request.user.is_authenticated %}
<script>
          $(document).ready(function(){
              {% for fa in trades %}
                  {% if fa.user_upvoted == 1 %}
                         $('#transaction_{{fa.transaction.tid}} .up').addClass('upvoted');
                  {% elif fa.user_upvoted == -1 %}       
                         $('#transaction_{{fa.transaction.tid}} .down').addClass('upvoted');
                  {% endif %}
                  
            {% endfor %}
            });
</script>
{% endif %}
