{% load da_wire_extras %}
{% for trade_proposal in trade_proposals %}
	<li class="something" id="transaction_{{trade_proposal.transaction.tid}}" >
		<h3 style="display:inline;">@{{trade_proposal.user.username}}</h3> 
		&middot; 
		<span class="count">{{ trade_proposal.votes }} upvotes</span> 
		<a href="{% url 'transaction' trade_proposal.transaction.tid %}">&#8618;</a>
		{% if arrows %}
		<div class="arrows">
                    <form id="transaction_upvote_{{ trade_proposal.transaction.tid }}" action="{% url 'transaction_upvote' %}" method="POST">
                    	{% csrf_token %}
                    	<input type="hidden" name="tid" value="{{ trade_proposal.transaction.tid }}">
            	    </form>
            	    <form id="transaction_downvote_{{ trade_proposal.transaction.tid }}" action="{% url 'transaction_downvote' %}" method="POST">
                     	{% csrf_token %}
                	<input type="hidden" name="tid" value="{{ trade_proposal.transaction.tid }}">
            	    </form>
                    <div class="up" onclick="ajax_submit_upvote('{{ trade_proposal.transaction.tid }}')"></div>
            	    <div class="down" onclick="ajax_submit_downvote('{{ trade_proposal.transaction.tid }}')"></div>
               </div>
	       {% endif %}
	{% if trade_proposal.user.id == request.user.id %}
		<form  style="float:right;" onsubmit="return confirm('Are you sure you want to delete your proposal?');" action="{% url 'delete_transaction' %}" method="POST">
            	<button class="btn btn-danger" type=submit>Delete Proposal</button>
	    	<input type=hidden name="tid" value="{{ trade_proposal.transaction.tid }}" />
            	{% csrf_token %}
        	</form> 
	{% endif %}
	<div>
		<b style="display:inline;">{{ trade_proposal.date }}</b>
{% for players in trade_proposal.players.all %}{% with forloop.counter as cntr %} 
	{% for player in players.players.all %} 
		<div>
			<a href="{% url 'transaction' player.transaction.tid %}">{{player}}</a>
			to {{players.team_to.mlbteam.name}} (from 
			<a href="{% url 'team' players.team_from.location|replace_forward_slash players.team_from.name %}">{{players.team_from.mlbteam.name}}</a>)
			{% if cntr != trade_proposal.players.all|length %} {% endif %}
		</div> 
	{% endfor %}{% endwith %} 
{% endfor %}
    </li>
{%endfor %}
<script>
          $(document).ready(function(){
              {% for fa in trade_proposals %}
                  {% if fa.user_upvoted == 1 %}
                         $('#transaction_{{fa.transaction.tid}} .up').addClass('upvoted');
                  {% elif fa.user_upvoted == -1 %}       
                         $('#transaction_{{fa.transaction.tid}} .down').addClass('upvoted');
                  {% endif %}
                  
            {% endfor %}
            });
</script>

