{% load da_wire_extras %}
<div id="comment_section">
{% is_pro request.user as tf %}
{% if request.user.is_authenticated and tf %}
<h2>Comments</h2>
{% elif request.user.is_authenticated %}
	<form action="{% url 'upgrade_to_pro' %}" method="GET">
		<button class="btn btn-warning">Upgrade to Pro for just $4.99 to comment</button>  
	</form>
{% else %}
<p> Login to upvote, and <a href="{% url 'register_page' %}">upgrade to Pro</a> to comment! </p>
{% endif %}

{% if request.user.is_authenticated and comments %}
	<form action="{% url 'sort_comments' %}" method=GET id="sort_form">
	<div id="none" style="width:300px;" >
	Order comments by
	<select name="sort_by" onchange="ajax_sort_comments();">
		<option value="Top-Rated">Top-Rated</option>
		<option value="Recent">Recent</option>
	</select>
	<input type=hidden name=tid value="{{tid}}" />
	</div>
	</form>
	{% endif %}
	{% if not comments %}
	<div id="none"><h3>No comments yet.</h3></div>
	{% else %}

<div class="comments">
	{% include 'da_wire/comments.html' %}
</div>
    {% endif %}
{% if request.user.is_authenticated and tf %}
<hr>
<div>
<form action="{% url 'comment' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="tid" value="{{tid}}" />
    <textarea required placeholder="Comment here" name="comment" cols=100 rows=10>{{ too_long }}</textarea>
    <br><br>
    <button class="btn btn-primary" style="width:100%;">Submit</button>
</form>
<br style="break:float;">
<br>
{% if too_long %}
<div id="messages">
    <p>
        Post submission may have been too long! (max 2000 chars)
    </p>
</div>
{% endif %}
</div>
{% endif %}
</div>
