{% load da_wire_extras %}
<div id="comment_section">
{% is_pro request.user as tf %}
{% if request.user.is_authenticated and tf %}
<h2>Comments</h2>
{% elif request.user.is_authenticated %}
	<form action="{% url 'upgrade_to_pro' %}" method="GET">
		<button class="btn btn-warning">Upgrade to Pro for just $4.99 to comment</button>  
	</form>
{% else %}
<p> Login to upvote, and <a href="{% url 'register_page' %}">upgrade to Pro</a> to comment! </p>
{% endif %}

<div class="comments">
	{% if request.user.is_authenticated and comments %}
	<div id="none" style="width:300px;">
	Order comments by
	<select>
		<option>Top-Rated</option>
		<option>Hot</option>
		<option>Recent</option>
		<option>Oldest</option>
	</select>
	</div>
	{% endif %}
	{% if not comments %}
	<div id="none"><h3>No comments yet.</h3></div>
	{% else %}
{% for comment in comments %}
<div class="comment" style="min-height: 100px;"><div>{{comment.user.username }} | {{ comment.datetime|timesince }} ago</div>
        <div style="display: inline;" id="comment_{{comment.id}}">
                
	<div style="display:inline;" class="count">{{comment.votes}}</div>
                <div class="arrows">
                    <form id="comment_upvote_{{comment.id}}" action="{% url 'transaction_upvote' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="pid" value="{{ comment.id }}">
                    </form>
                    <form id="comment_downvote_{{comment.id}}" action="{% url 'transaction_downvote' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="pid" value="{{ comment.id }}">
                    </form>
                    <div class="up" onclick="ajax_submit_upvote_comment('{{comment.id}}')"></div>
                    <div class="down" onclick="ajax_submit_downvote_comment('{{comment.id}}')"></div>
                </div>    
	<div class="text">{{ comment.text|linebreaks }}</div>
        
            </div>
        </div>
    {% endfor %}
	{% endif %}
</div>
{% if request.user.is_authenticated and tf %}
<hr>
<div>
<form action="{% url 'comment' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="tid" value="{{tid}}" />
    <textarea required placeholder="Comment here" name="comment" cols=100 rows=10>{{ too_long }}</textarea>
    <br><br>
    <button class="btn btn-primary" style="width:100%;">Submit</button>
</form>
<br style="break:float;">
<br>
{% if too_long %}
<div id="messages">
    <p>
        Post submission may have been too long! (max 2000 chars)
    </p>
</div>
{% endif %}
</div>
{% endif %}
</div>
