{% load da_wire_extras %}
<div class="container">
    <!--form>
        Sort By:
        <select>
    <option>Recent</option>
    <option>Approval</option>
    <option>Comments</option>
</select>
</form-->

{% if level %}
<h1 style="text-align:center;">{{ level.level }}</h1>
{% endif %}
<div class="row">
<div class="r col-sm-2" id="sidebar"><div style="max-width:150px;">
		<h6>Transaction Types</h6>
		<ul class="navbar-nav">
		{% if fas %}
		<li class="nav-item">
			<a class="nav-link" href="#fas">Free Agents</a>
		</li>
		{% endif %}
		<li class="nav-item">
			<a class="nav-link" href="#callups">Callups</a>

		</li>
		<li class="nav-item">
	<a class="nav-link" href="#options">Send Downs</a>
		</li>
		<li class="nav-item">

	<a class="nav-link" href="#dfas">DFAs</a>
		</li>
		<li class="nav-item">

	<a class="nav-link" href="#trades">Trades</a>
		</li>
	<li class="nav-item">

	<a class="nav-link" href="#injured_list">Injured List</a>
		</li>
		<li class="nav-item">

	<a class="nav-link" href="#fa_signings">FA Signings</a>
		</li>
		<!--li>

	<a href="#draft_signings">Draft Signings</a>
		</li-->
		
		<li class="nav-item">

	<a  class="nav-link" href="#personal_leave">Personal Leave</a>
		</li>
		<li class="nav-item">

	<a class="nav-link" href="#rehab">Rehab Assignment</a>
		</li>
{% if players %}
		<li class="nav-item">
			<a href="#roster" class="nav-link">Roster</a>
		</li>
			{% endif %}
			
	</ul>
	</div>
	</div>
    <div class="row">

    <div class="col-sm-2"></div>
    {% if fas %}
        <div class="r col-sm-2">
		<div id="fas">
            <h1>FAs</h1>
            <ul id="ul_fa">
                {% include 'da_wire/transaction_type/fa.html' %}
            </ul>
            <form {% if request.resolver_match.view_name == 'index' %} 
			action="{% url 'pick_page' %}"
			{%else %}
			action="{% url 'pick_page_team' %}"
			{%endif%} method="POST" id="fa_form">
            {% if request.resolver_match.view_name == 'team' %}
			<input type="hidden" name="mid" value="{{ mlbaff.id }}" />
			{% endif %}    
	
		    <input id="fa_index" type="hidden" name="index" value="1" />
                <input id="fa_transaction_type" name="transaction_type" type="hidden" value="fa" />
                {% csrf_token %}
                <nav aria-label="...">
                    <ul class="pagination pagination-sm">
                        <li class="page-item active" aria-current="page" id="fa_1">
                          <span class="page-link" onclick="pick_page('1', 'fa');">1</span>
                        </li>
                    {% for i in fas.range %}
                        <li class="page-item" id="fa_{{i}}">
                            <span class="page-link" href="#" onclick="pick_page('{{i}}', 'fa');">{{i}}</span>
                        </li>
                    {% endfor %}
                    </ul>
                </nav>
            </form>
        </div>
	</div>
    {% endif %}
	{% if callups %}   
    <div class="r col-sm-4"><div id="callups"> <h1>Callups</h1>
    <ul id="ul_callup">
        {% include 'da_wire/transaction_type/callup.html' %}
    </ul>
    <form {% if request.resolver_match.view_name == 'index' %} 
			action="{% url 'pick_page' %}"
			{%else %}
			action="{% url 'pick_page_team' %}"
			{%endif%}  method="POST" id="callup_form">
            {% if request.resolver_match.view_name == 'team' %}
			<input type="hidden" name="mid" value="{{ mlbaff.id }}" />
			{% endif %}    
	
	    <input id="callup_index" type="hidden" name="index" value="1" />
                <input id="callup_transaction_type" name="transaction_type" type="hidden" value="callup" />
                {% csrf_token %}
                <nav aria-label="...">
                    <ul class="pagination pagination-sm">
                        <li class="page-item active" aria-current="page" id="callup_1">
                          <span class="page-link" onclick="pick_page('1', 'callup');">1</span>
                        </li>
                    {% for i in callups.range %}
                        <li class="page-item" id="callup_{{i}}">
                            <span class="page-link" href="#" onclick="pick_page('{{i}}', 'callup');">{{i}}</span>
                        </li>
                    {% endfor %}
                    </ul>
                </nav>
            </form>
    </div>
    {% endif %}
    </div>
   
	{% if options %}
    <div class="r {% if players %} col-sm-6 {% else %} col-sm-4 {% endif %}">
	    <div id="options">
		<h1>Send Downs</h1>
    		<ul id="ul_option">
         		{% include 'da_wire/transaction_type/option.html' %}
    		</ul>
    		<form 
		{% if request.resolver_match.view_name == 'index' %} 
			action="{% url 'pick_page' %}"
			{%else %}
			action="{% url 'pick_page_team' %}"
			{%endif%}
			method="POST" id="option_form">
            {% if request.resolver_match.view_name == 'team' %}
			<input type="hidden" name="mid" value="{{ mlbaff.id }}" />
			{% endif %}    
	
			<input id="option_index" type="hidden" name="index" value="1" />
                <input id="option_transaction_type" name="transaction_type" type="hidden" value="option" />
                {% csrf_token %}
                <nav aria-label="...">
                    <ul class="pagination pagination-sm">
                        <li class="page-item active" aria-current="page" id="option_1">
                          <span class="page-link" onclick="pick_page('1', 'option');">1</span>
                        </li>
                    {% for i in options.range %}
                        <li class="page-item" id="option_{{i}}">
                            <span class="page-link" href="#" onclick="pick_page('{{i}}', 'option');">{{i}}</span>
                        </li>
                    {% endfor %}
                    </ul>
                </nav>
            </form>
    </div>
    </div>
    {% endif %}
    </div>
    <div class="row">
	    <div class="col-sm-2"></div>
    	{% if dfas %}
	    <div class="r col-sm-4">
		    <div id="dfas"><h1>DFA'd</h1>
            		<ul id="ul_dfa">
                		{% include 'da_wire/transaction_type/dfa.html' %}
            		</ul>
            <form {% if request.resolver_match.view_name == 'index' %} 
			action="{% url 'pick_page' %}"
			{%else %}
			action="{% url 'pick_page_team' %}"
			{%endif%} method="POST" id="dfa_form">
            {% if request.resolver_match.view_name == 'team' %}
			<input type="hidden" name="mid" value="{{ mlbaff.id }}" />
			{% endif %}    
	
		    <input id="dfa_index" type="hidden" name="index" value="1" />
                <input id="dfa_transaction_type" name="transaction_type" type="hidden" value="dfa" />
                {% csrf_token %}
                <nav aria-label="...">
                    <ul class="pagination pagination-sm">
                        <li class="page-item active" aria-current="page" id="dfa_1">
                          <span class="page-link" onclick="pick_page('1', 'dfa');">1</span>
                        </li>
                    {% for i in dfas.range %}
                        <li class="page-item" id="dfa_{{i}}">
                            <span class="page-link" href="#" onclick="pick_page('{{i}}', 'dfa');">{{i}}</span>
                        </li>
                    {% endfor %}
                    </ul>
                </nav>
            </form>
		    </div>
	    </div>
    
		    {% endif %}
		    {% if trades %}
    <div class="r col-sm-6">
	    <div id="trades">
    <h1>Trades</h1>
    <ul id="ul_trade">
        {% include 'da_wire/transaction_type/trade.html' %}
    </ul>
    <form {% if request.resolver_match.view_name == 'index' %} 
			action="{% url 'pick_page' %}"
			{%else %}
			action="{% url 'pick_page_team' %}"
			{%endif%} method="POST" id="trade_form">
            {% if request.resolver_match.view_name == 'team' %}
			<input type="hidden" name="mid" value="{{ mlbaff.id }}" />
			{% endif %}    
	
	    <input id="trade_index" type="hidden" name="index" value="1" />
                <input id="trade_transaction_type" name="transaction_type" type="hidden" value="trade" />
                <input id="trade_team" name="team" type="hidden" value="{{players.all.0.mlbaffiliate.name}}" />
                <input id="trade_level" name="level" type="hidden" value="{{players.all.0.mlbaffiliate.level.level}}" />
                {% csrf_token %}
                <nav aria-label="...">
                    <ul class="pagination pagination-sm">
                        <li class="page-item active" aria-current="page" id="trade_1">
                          <span class="page-link" onclick="pick_page('1', 'trade');">1</span>
                        </li>
                    {% for i in trades.range %}
                        <li class="page-item" id="trade_{{i}}">
                            <span class="page-link" href="#" onclick="pick_page('{{i}}', 'trade');">{{i}}</span>
                        </li>
                    {% endfor %}
                    </ul>
                </nav>
            </form>
    </div>
    </div> 
    {% endif %}
    </div>
    {% if injured_list %} 
    <div class="row">

	    <div class="col-sm-2"></div>
    <div class="r col-sm-10"><div id="injured_list"><h1>Injured List</h1>
        <ul id="ul_injured">
        {% include 'da_wire/transaction_type/injured.html' %}
    </ul>
    <form {% if request.resolver_match.view_name == 'index' %} 
			action="{% url 'pick_page' %}"
			{%else %}
			action="{% url 'pick_page_team' %}"
			{%endif%} method="POST" id="injured_form">
            {% if request.resolver_match.view_name == 'team' %}
			<input type="hidden" name="mid" value="{{ mlbaff.id }}" />
			{% endif %}    
	
	    <input id="injured_index" type="hidden" name="index" value="1" />
                <input id="injured_transaction_type" name="transaction_type" type="hidden" value="injured" />
                {% csrf_token %}
                <nav aria-label="...">
                    <ul class="pagination pagination-sm">
                        <li class="page-item active" aria-current="page" id="injured_1">
                          <span class="page-link" onclick="pick_page('1', 'injured');">1</span>
                        </li>
                    {% for i in injured_list.range %}
                        <li class="page-item" id="injured_{{i}}">
                            <span class="page-link" href="#" onclick="pick_page('{{i}}', 'injured');">{{i}}</span>
                        </li>
                    {% endfor %}
                    </ul>
                </nav>
            </form>
    </div>
    </div>
  	</div>
    {% endif %}
  
    {% if fa_signings %}
    <div class="row">

	    <div class="col-sm-2"></div>
    <div class="r col-sm-10">
	    <div id="fa_signings">
	    <h1>FA Signings</h1>
    <ul id="ul_fa_signing">
        {% include 'da_wire/transaction_type/fa_signing.html' %}
    </ul>
    <form {% if request.resolver_match.view_name == 'index' %} 
			action="{% url 'pick_page' %}"
			{%else %}
			action="{% url 'pick_page_team' %}"
			{%endif%} method="POST" id="fa_signing_form">
            {% if request.resolver_match.view_name == 'team' %}
			<input type="hidden" name="mid" value="{{ mlbaff.id }}" />
			{% endif %}    
	    <input id="fa_signing_index" type="hidden" name="index" value="1" />
                <input id="fa_signing_transaction_type" name="transaction_type" type="hidden" value="fa_signing" />
                {% csrf_token %}
                <nav aria-label="...">
                    <ul class="pagination pagination-sm">
                        <li class="page-item active" aria-current="page" id="fa_signing_1">
                          <span class="page-link" onclick="pick_page('1', 'fa_signing');">1</span>
                        </li>
                    {% for i in fa_signings.range %}
                        <li class="page-item" id="fa_signing_{{i}}">
                            <span class="page-link" href="#" onclick="pick_page('{{i}}', 'fa_signing');">{{i}}</span>
                        </li>
                    {% endfor %}
                    </ul>
                </nav>
            </form>
    </div>
    </div>
    </div>
    {%endif %}

	    {% if personal_leave %}
    <div class="row">

	    <div class="col-sm-2"></div>
    <div class="r col-sm-10">
	    <div id="personal_leave">
	    <h1>Personal Leave</h1>
    <ul id="ul_personal_leave">
        {% include 'da_wire/transaction_type/personal_leave.html' %}
    </ul>
    <form {% if request.resolver_match.view_name == 'index' %} 
			action="{% url 'pick_page' %}"
			{%else %}
			action="{% url 'pick_page_team' %}"
			{%endif%} method="POST" id="personal_leave_form">
                {% if request.resolver_match.view_name == 'team' %}
			<input type="hidden" name="mid" value="{{ mlbaff.id }}" />
			{% endif %}
	    	<input id="personal_leave_index" type="hidden" name="index" value="1" />
                <input id="personal_leave_transaction_type" name="transaction_type" type="hidden" value="personal_leave" />
                {% csrf_token %}
                <nav aria-label="...">
                    <ul class="pagination pagination-sm">
                        <li class="page-item active" aria-current="page" id="personal_leave_1">
                          <span class="page-link" onclick="pick_page('1', 'personal_leave');">1</span>
                        </li>
                    {% for i in fas.range %}
                        <li class="page-item" id="personal_leave_{{i}}">
                            <span class="page-link" href="#" onclick="pick_page('{{i}}', 'personal_leave');">{{i}}</span>
                        </li>
                    {% endfor %}
                    </ul>
                </nav>
            </form>
    </div>
    </div>
    </div>
    
    {% endif %}
    {% if rehab_assignment %}
    <div class="row">

	    <div class="col-sm-2"></div>
    <div class="r col-sm-10">
	    <div id="rehab">
	    <h1>Rehab Assignment</h1>
    <ul id="ul_rehab">
        {% include 'da_wire/transaction_type/rehab_assignment.html' %}
    </ul>
    <form {% if request.resolver_match.view_name == 'index' %} 
			action="{% url 'pick_page' %}"
			{%else %}
			action="{% url 'pick_page_team' %}"
			{%endif%} method="POST" id="rehab_form">
          	{% if request.resolver_match.view_name == 'team' %}
			<input type="hidden" name="mid" value="{{ mlbaff.id }}" />
			{% endif %}
	    	<input id="rehab_index" type="hidden" name="index" value="1" />
                <input id="rehab_transaction_type" name="transaction_type" type="hidden" value="rehab" />
                {% csrf_token %}
                <nav aria-label="...">
                    <ul class="pagination pagination-sm">
                        <li class="page-item active" aria-current="page" id="rehab_1">
                          <span class="page-link" onclick="pick_page('1', 'rehab');">1</span>
                        </li>
                    {% for i in rehab_assignment.range %}
                        <li class="page-item" id="rehab_{{i}}">
                            <span class="page-link" href="#" onclick="pick_page('{{i}}', 'rehab');">{{i}}</span>
                        </li>
                    {% endfor %}
                    </ul>
                </nav>
            </form>
    </div>
    </div>
    </div>
    {% endif %}
    </div>
