{% load da_wire_extras %}
<br>
<div class="container">
    <form>
        Sort By:
        <select>
            <option>Recent</option>
            <option>Approval</option>
            <option>Comments</option>
        </select>
    </form>
{% if position %}
    <h1>{{position.position}}</h1>
    <div class="row">
        <div class="r col">
        <h2>Non-FA</h2>
            {% for non_fa in non_fas %}
                <li class="something">
                <div style="display:inline; padding-right: 2px; border-right: 2px solid black;" class="count">0</div>
                <div class="arrows">
                    <div class="up"></div>
                    <div class="down"></div>
                </div><a href="{{non_fa.bb_ref}}" target=_blank>{{ non_fa.first_name }} {{non_fa.last_name }}</a> 
                - {{ non_fa.mlbaffiliate.location }} {{ non_fa.mlbaffiliate.name }}</li>
            {% endfor %}
        </div>
    </div>
{% endif %}
    <div class="row">
    {% if fas %}
    <div class="r col-sm-4">
    <h1>Free Agents</h1>
    <ul>
        {% for fa in fas %}
            <li class="something" id="transaction_{{fa.transaction.tid}}">
                <div style="display:inline; padding-right: 2px; border-right: 2px solid black;" class="count">{{fa.votes}}</div>
                <div class="arrows">
                    <div class="up"></div>
                    <div class="down"></div>
                </div>
                <b>{{fa.position}}</b>
                - <a href="{{fa.bb_ref}}">{{fa.first_name}} {{fa.last_name}}</a>
                <a href="{% url 'transaction' fa.transaction.tid %}">&#129193;</a> 
            </li>
        {% endfor %}
    </ul>
    </div>
    {% endif %}
   
    <div class="r col-sm-4"> <h1>Callups</h1>
    <ul>
    {% for callup in callups %}
        <li class="something" id="transaction_{{callup.transaction.tid}}">
                <div style="display:inline; padding-right: 2px; border-right: 2px solid black;" class="count">{{callup.votes}}</div>
                <div class="arrows">
                    <div class="up"></div>
                    <div class="down"></div>
                </div>{{callup.date }} - <a href="{{callup.player.bb_ref}}" target=_blank>{{callup.player.first_name }} {{ callup.player.last_name }}</a> 
        {% get_affiliate callup.to_level.level callup.mlbteam as team_to %}
        to {{team_to.location }} {{team_to.name }} from {{callup.from_level.level }} 
        {% get_affiliate callup.from_level.level callup.mlbteam as team %}
        <a href="{% url 'team' callup.from_level.level team.name %}">{{ team.location }}</a>
        <a href="{% url 'transaction' callup.transaction.tid %}">&#129193;</a> 
         </li>
    {% endfor %}
    </ul>
    </div>
    
    
     <div class="r {% if players %} col-sm-8 {% else %} col-sm-4 {% endif %}"><h1>Options</h1>
    <ul>
    {% for option in options %}
        <li class="something" id="transaction_{{option.transaction.tid}}">
                <div style="display:inline; padding-right: 2px; border-right: 2px solid black;" class="count">{{option.votes}}</div>
                <div class="arrows">
                    <div class="up"></div>
                    <div class="down"></div>
                </div>{{option.date }} - <a href="{{option.player.bb_ref}}" target=_blank>{{option.player.first_name }} {{ option.player.last_name }}</a>
        {% get_affiliate option.to_level.level option.mlbteam as team_to %}
        to {{team_to.location }} {{team_to.name }} ({{ option.to_level.level }}) from {{ option.from_level.level }} 
        {% get_affiliate option.from_level.level option.mlbteam as team %}
        <a href="{% url 'team' option.from_level.level team.name %}">{{ team.location }}</a>
        <a href="{% url 'transaction' option.transaction.tid %}">&#129193;</a> 
        </li>
    {% endfor %}
    </ul>
    </div>

    </div>
    <div class="row">
    
     <div class="r col-sm-4"><h1>DFA'd</h1>
    <ul>
    {% for dfa in dfas %}
        <li class="something" id="transaction_{{dfa.transaction.tid}}">
                <div style="display:inline; padding-right: 2px; border-right: 2px solid black;" class="count">{{dfa.votes}}</div>
                <div class="arrows">
                    <div class="up"></div>
                    <div class="down"></div>
                </div>{{dfa.date }} - <a href="{{dfa.player.bb_ref}}" target=_blank>{{dfa.player.first_name }} {{ dfa.player.last_name }}</a>
                 - {{dfa.player.mlbaffiliate.location }} {{dfa.player.mlbaffiliate.name }}  
                 <a href="{% url 'transaction' dfa.transaction.tid %}">&#129193;</a> 
                 </li>
    {% endfor %}
    </ul>
    </div>
    <div class="r col-sm-4">
    <h1>Trades</h1>
    <ul>
    {% for trade in trades %}
        <li class="something" id="transaction_{{trade.transaction.tid}}">
                <div style="display:inline; padding-right: 2px; border-right: 2px solid black;" class="count">{{trade.votes}}</div>
                <div class="arrows">
                    <div class="up"></div>
                    <div class="down"></div>
                </div>{{ trade.date }} - {% for players in trade.players.all %}{% with forloop.counter as cntr %} {% for player in players.players.all %} 
        <a href="{{player.bb_ref}}" target=_blank>{{player.first_name}} {{player.last_name}}</a> 
        to {{players.team_to.mlbteam.name}} (from {{players.team_from.mlbteam.name}}){% if cntr != trade.players.all|length %}, 
        {% endif %} {% endfor %}{% endwith %} 
        {% endfor %} 
        <a href="{% url 'transaction' trade.transaction.tid %}">&#129193;</a> 
        </li>
    {% endfor %}
    </ul>
    </div>
    
    
     <div class="r col-sm-4"><h1>Injured List</h1>
    <ul>
    {% for injured in injured_list %}
        <li class="something" id="transaction_{{injured.transaction.tid}}">
                <div style="display:inline; padding-right: 2px; border-right: 2px solid black;" class="count">{{injured.votes}}</div>
                <div class="arrows">
                    <div class="up"></div>
                    <div class="down"></div>
                </div>{{injured.date}} - <a href="{{injured.player.bb_ref}}" target=_blank>{{injured.player.first_name}} {{injured.player.last_name}}</a> - {{injured.length}}-day IL
                <a href="{% url 'transaction' injured.transaction.tid %}">&#129193;</a> 
                </li>
    {% endfor %}
    </ul>
    </div>
    </div>
    <div class="row">
    <div class="r col-sm-6">
    <h1>Draft Signings</h1>
    <ul>
    {% for draft_signing in draft_signings %}
        <li class="something" id="transaction_{{draft_signing.transaction.tid}}">
                <div style="display:inline; padding-right: 2px; border-right: 2px solid black;" class="count">{{draft_signing.votes}}</div>
                <div class="arrows">
                    <div class="up"></div>
                    <div class="down"></div>
                </div>{{draft_signing.date}} - <a href="{{draft_signing.player.bb_ref}}" target=_blank>{{draft_signing.player.first_name}} {{draft_signing.player.last_name}}</a> to {{draft_signing.team_to.location}} {{draft_signing.team_to.name}}
                <a href="{% url 'transaction' draft_signing.transaction.tid %}">&#129193;</a> 
                </li>
    {% endfor %}
    </ul>
    </div>
    <div class="r col-sm-6">
    <h1>FA Signings</h1>
    <ul>
    {% for fa_signing in fa_signings %}
        <li class="something" id="transaction_{{fa_signing.transaction.tid}}">
                <div style="display:inline; padding-right: 2px; border-right: 2px solid black;" class="count">{{fa_signing.votes}}</div>
                <div class="arrows">
                    <div class="up"></div>
                    <div class="down"></div>
                </div>{{fa_signing.date}} - <a href="{{fa_signing.player.bb_ref}}" target=_blank>{{fa_signing.player.first_name}} {{fa_signing.player.last_name}}</a> to {{fa_signing.team_to.location}} {{fa_signing.team_to.name}}
                <a href="{% url 'transaction' fa_signing.transaction.tid %}">&#129193;</a> 
                </li>
    {% endfor %}
    </ul>
    </div>
    </div>
    <div class="row">
    <div class="r col-sm-6">
    <h1>Personal Leave</h1>
    <ul>
        {% for personale in personal_leave %}
        <li class="something" id="transaction_{{personale.transaction.tid}}">
                <div style="display:inline; padding-right: 2px; border-right: 2px solid black;" class="count">{{personale.votes}}</div>
                <div class="arrows">
                    <div class="up"></div>
                    <div class="down"></div>
                </div>{{personale.date}} - <a href="{{personale.player.bb_ref}}">{{personale.player.first_name}} {{personale.player.last_name}}</a> for {{personale.length}} days
                <a href="{% url 'transaction' personale.transaction.tid %}">&#129193;</a> 
                </li>
        {% endfor %}
    </ul>
    </div>
    <div class="r col-sm-6">
    <h1>Rehab Assignment</h1>
    <ul>
        {% for option in rehab_assignment %}
        <li class="something" id="transaction_{{option.transaction.tid}}">
                <div style="display:inline; padding-right: 2px; border-right: 2px solid black;" class="count">{{option.votes}}</div>
                <div class="arrows">
                    <div class="up"></div>
                    <div class="down"></div>
                </div>{{option.date}} - <a href="{{option.player.bb_ref}}">{{option.player.first_name }} {{ option.player.last_name }}</a> to {{option.player.mlbaffiliate.location }} {{option.player.mlbaffiliate.name }} ({{option.player.mlbaffiliate.level}}) from {{option.from_level.level }} 
        {% get_affiliate option.from_level.level option.player.mlbaffiliate.mlbteam as team %}
        <a href="{% url 'team' option.from_level.level team.name %}">{{ team.location }}</a>
        <a href="{% url 'transaction' option.transaction.tid %}">&#129193;</a> 
        </li>
        {% endfor %}
    </ul>
    </div>
    </div>
    
    </div>