{% load da_wire_extras %}
<div class="row">
	
	{% if hot_transactions %}
		<div class="r col-sm-6">
		<div id="hot_transactions">
			<h2 style="text-align: center; background-color: lightgray;  border-bottom: 5px dotted {% if primary %} var(--primary); {% else %} var(--red); {% endif %} margin-bottom: 30px;">Hot</h2>
			{% for t in hot_transactions %}
			<h2 style="float:left;margin-top:-20px;">{{forloop.counter}}</h2>
			{% include 'da_wire/print_transaction.html' with t=t %}
		{% endfor %}
		</div>
	</div>
	{% endif %}
{% if top_transactions %}
	<div class="r col-sm-6">
		<div id="top_transactions">
			<h2 style="text-align: center; background-color: lightgray; border-bottom: 5px dashed {% if primary %} var(--primary); {% else %} var(--red); {% endif %} margin-bottom: 30px;">Top-Rated</h2>
		{% for t in top_transactions %}
			<h2 style="float:left;margin-top:-20px;">{{forloop.counter}}</h2>
			{% include 'da_wire/print_transaction.html' with t=t %}
		{% endfor %}
		</div>
	</div>
	{% endif %}
	{% if trade_proposals %}
    <div class="r {% if request.resolver_match.view_name != 'transaction' %}  col-sm-12 {%else%} col-lg-12 {% endif %}">
	    <small  style="padding:10px;"><a style="float:right; padding:10px;" href="{% url 'trade_proposals' %}">view all</a></small>
	    <div id="trade_proposals">
		    <h1>Trade Proposals</h1> 
    <ul id="ul_trade_proposal">
        {% include 'da_wire/transaction_type/trade_proposal.html' %}
    </ul>

    		</div>
    </div> 
    {% endif %}
	{% if callup_proposals %}
    <div class="r {% if request.resolver_match.view_name != 'transaction' %}  col-sm-12 {%else%} col-lg-12 {% endif %}">
	   <small  style="padding:10px;"><a style="float:right; padding:10px;" href="{% url 'callup_proposals' %}">view all</a></small>
	    <div id="callup_proposals">
		    <h1>Callup Proposals</h1> 
    <ul id="ul_callup_proposal">
        {% include 'da_wire/transaction_type/callup_proposal.html' %}
    </ul>

    		</div>
    </div> 
    {% endif %}
    {% if option_proposals %}
    <div class="r {% if request.resolver_match.view_name != 'transaction' %}  col-sm-12 {%else%} col-lg-12 {% endif %}">
	   <small  style="padding:10px;"><a style="float:right; padding:10px;" href="{% url 'option_proposals' %}">view all</a></small>

	    <div id="option_proposals">
		    <h1>Option Proposals</h1>     
		    <ul id="ul_option_proposal">
        {% include 'da_wire/transaction_type/option_proposal.html' %}
    </ul>

    		</div>
    </div> 
    {% endif %}
    {% if signing_proposals %}
    <div class="r {% if request.resolver_match.view_name != 'transaction' %}  col-sm-12 {%else%} col-lg-12 {% endif %}">
	    <small  style="padding:10px;"><a style="float:right;padding:10px;" href="{% url 'signing_proposals' %}">view all</a></small>
	    <div id="signing_proposals">
		    <h1>Signing Proposals</h1> 
    <ul id="ul_signing_proposal">
        {% include 'da_wire/transaction_type/signing_proposal.html' %}
    </ul>

    		</div>
    </div> 
    {% endif %}
    {% if fas %}
        <div class="r col-sm-12">
<small style="padding:10px;"><a style="float:right; " href="{% if request.resolver_match.view_name == 'team' %}{% url 'team_trades' mlbaff.location mlbaff.name %}{%else%}{% url 'fas' %}{%endif%}">view all</a></small>
		<div id="fas">
			<h1>FAs</h1> 
            <ul id="ul_fa">
                {% include 'da_wire/transaction_type/fa.html' %}
            </ul>
            <form {% if request.resolver_match.view_name == 'index' %} 
			action="{% url 'pick_page' %}"
			{%else %}
			action="{% url 'pick_page_team' %}"
			{%endif%} method="GET" id="fa_form">
            {% if request.resolver_match.view_name == 'team' %}
			<input type="hidden" name="mid" value="{{ mlbaff.id }}" />
			{% endif %}    
	
		    <input id="fa_index" type="hidden" name="index" value="1" />
                <input id="fa_transaction_type" name="transaction_type" type="hidden" value="fa" />
                <nav aria-label="...">
                    <ul class="pagination pagination-sm flex-wrap">
                        <li class="page-item active" aria-current="page" id="fa_1">
                          <span class="page-link" onclick="pick_page('1', 'fa');">1</span>
                        </li>
                    {% for i in fas_range %}
                        <li class="page-item" id="fa_{{i}}">
                            <span class="page-link" href="#" onclick="pick_page('{{i}}', 'fa');">{{i}}</span>
                        </li>
                    {% endfor %}
                    </ul>
                </nav>
            </form>
		<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
</div>	
	
        </div>
	</div>
    {% endif %}
    </div>
    <div class="row">
	{% if callups %}  
	<div class="r {% if request.resolver_match.view_name != 'transaction' %}  col-sm-6 {%else%} col-sm-12 {% endif %}">

 <small style="padding:10px;"><a style="float:right; " href="{% if request.resolver_match.view_name == 'team' %}{% url 'team_callups' mlbaff.location|replace_forward_slash mlbaff.name %}{%else%}{% url 'callups' %}{%endif%}">view all</a></small>
		<div id="callups"> <h1>Callups</h1>
    <ul id="ul_callup">
        {% include 'da_wire/transaction_type/callup.html' %}
    </ul>
    
	{% if request.resolver_match.view_name != "transaction" %}
    <form {% if request.resolver_match.view_name == 'index' %} 
			action="{% url 'pick_page' %}"
			{%else %}
			action="{% url 'pick_page_team' %}"
			{%endif%}  method="GET" id="callup_form">
            {% if request.resolver_match.view_name == 'team' %}
			<input type="hidden" name="mid" value="{{ mlbaff.id }}" />
			{% endif %}    
	
	    <input id="callup_index" type="hidden" name="index" value="1" />
                <input id="callup_transaction_type" name="transaction_type" type="hidden" value="callup" />
                <nav aria-label="...">
                    <ul class="pagination pagination-sm flex-wrap">
                        <li class="page-item active" aria-current="page" id="callup_1">
                          <span class="page-link" onclick="pick_page('1', 'callup');">1</span>
                        </li>
                    {% for i in callups.range %}
                        <li class="page-item" id="callup_{{i}}">
                            <span class="page-link" href="#" onclick="pick_page('{{i}}', 'callup');">{{i}}</span>
                        </li>
                    {% endfor %}
                    </ul>
                </nav>
            </form>
	    {% endif %}
    </div>
    </div>
   
    {% endif %}
	{% if options %}
	<div class="r {% if request.resolver_match.view_name != 'transaction' %}  col-sm-6 {%else%} col-sm-12 {% endif %}">
	    <small  style="padding:10px;"><a style="float:right; " href="{% if request.resolver_match.view_name == 'team' %}{% url 'team_options' mlbaff.location|replace_forward_slash mlbaff.name %}{%else%}{% url 'options' %}{%endif%}">view all</a></small>
		<div id="options">
		<h1>Send Downs</h1> 
  

    		<ul id="ul_option">
         		{% include 'da_wire/transaction_type/option.html' %}
    		</ul>

	{% if request.resolver_match.view_name != "transaction" %}
    		<form 
		{% if request.resolver_match.view_name == 'index' %} 
			action="{% url 'pick_page' %}"
			{%else %}
			action="{% url 'pick_page_team' %}"
			{%endif%}
			method="GET" id="option_form">
            {% if request.resolver_match.view_name == 'team' %}
			<input type="hidden" name="mid" value="{{ mlbaff.id }}" />
			{% endif %}    
	
			<input id="option_index" type="hidden" name="index" value="1" />
                <input id="option_transaction_type" name="transaction_type" type="hidden" value="option" />
                <nav aria-label="...">
                    <ul class="pagination pagination-sm flex-wrap">
                        <li class="page-item active" aria-current="page" id="option_1">
                          <span class="page-link" onclick="pick_page('1', 'option');">1</span>
                        </li>
                    {% for i in options.range %}
                        <li class="page-item" id="option_{{i}}">
                            <span class="page-link" href="#" onclick="pick_page('{{i}}', 'option');">{{i}}</span>
                        </li>
                    {% endfor %}
                    </ul>
                </nav>
            </form>
	    {% endif %}
    </div>
    </div>
    {% endif %}
    </div>
    {% if waiver_claims %}
    <div class="row">
	<div class="r {% if request.resolver_match.view_name != 'transaction' %}  col-sm-12 {%else%} col-sm-12 {% endif %}">
	    <small style="padding:10px;"><a style="float:right; " href="{% if request.resolver_match.view_name == 'team' %}{% url 'team_waiver_claims' mlbaff.location|replace_forward_slash mlbaff.name %}{%else%}{% url 'waiver_claims' %}{%endif%}">view all</a></small>
  

		<div id="waiver_claims">
		<h1>Waiver Claims</h1> 
    		<ul id="ul_waiver_claim">
         		{% include 'da_wire/transaction_type/waiver_claim.html' %}
    		</ul>

	{% if request.resolver_match.view_name != "transaction" %}
    		<form 
		{% if request.resolver_match.view_name == 'index' %} 
			action="{% url 'pick_page' %}"
			{%else %}
			action="{% url 'pick_page_team' %}"
			{%endif%}
			method="GET" id="waiver_claim_form">
            {% if request.resolver_match.view_name == 'team' %}
			<input type="hidden" name="mid" value="{{ mlbaff.id }}" />
			{% endif %}    
	
			<input id="waiver_claim_index" type="hidden" name="index" value="1" />
                <input id="waiver_claim_transaction_type" name="transaction_type" type="hidden" value="waiver_claim" />
                <nav aria-label="...">
                    <ul class="pagination pagination-sm flex-wrap">
                        <li class="page-item active" aria-current="page" id="waiver_claim_1">
                          <span class="page-link" onclick="pick_page('1', 'waiver_claim');">1</span>
                        </li>
                    {% for i in waiver_claims.range %}
                        <li class="page-item" id="waiver_claim_{{i}}">
                            <span class="page-link" href="#" onclick="pick_page('{{i}}', 'waiver_claim');">{{i}}</span>
                        </li>
                    {% endfor %}
                    </ul>
                </nav>
            </form>
	    {% endif %}
    </div>
    </div>
    </div>
    {% endif %}
    <div class="row">
    	{% if dfas %}
	    <div class="r {% if request.resolver_match.view_name != 'transaction' %}  col-sm-12 {%else%} col-sm-12 {% endif %}">
		    <small style="padding:10px;"><a style="float:right; " href="{% if request.resolver_match.view_name == 'team' %}{% url 'team_dfas' mlbaff.location|replace_forward_slash mlbaff.name %}{%else%}{% url 'dfas' %}{%endif%}">view all</a></small>
		    <div id="dfas"><h1>DFA'd</h1> 
  
            		<ul id="ul_dfa">
                		{% include 'da_wire/transaction_type/dfa.html' %}
            		</ul>

	{% if request.resolver_match.view_name != "transaction" %}
            <form {% if request.resolver_match.view_name == 'index' %} 
			action="{% url 'pick_page' %}"
			{%else %}
			action="{% url 'pick_page_team' %}"
			{%endif%} method="GET" id="dfa_form">
            {% if request.resolver_match.view_name == 'team' %}
			<input type="hidden" name="mid" value="{{ mlbaff.id }}" />
			{% endif %}    
	
		    <input id="dfa_index" type="hidden" name="index" value="1" />
                <input id="dfa_transaction_type" name="transaction_type" type="hidden" value="dfa" />
                <nav aria-label="...">
                    <ul class="pagination pagination-sm flex-wrap">
                        <li class="page-item active" aria-current="page" id="dfa_1">
                          <span class="page-link" onclick="pick_page('1', 'dfa');">1</span>
                        </li>
                    {% for i in dfas.range %}
                        <li class="page-item" id="dfa_{{i}}">
                            <span class="page-link" href="#" onclick="pick_page('{{i}}', 'dfa');">{{i}}</span>
                        </li>
                    {% endfor %}
                    </ul>
                </nav>
            </form>
	    {% endif %}
		    </div>
	    </div>
    
		    {% endif %}
    </div>
    <div class="row">
		    {% if trades %}
    <div class="r {% if request.resolver_match.view_name != 'transaction' %}  col-sm-12 {%else%} col-lg-12 {% endif %}">
	    <small  style="padding:10px;"><a style="float:right; " href="{% if request.resolver_match.view_name == 'team' %}{% url 'team_trades' mlbaff.location|replace_forward_slash mlbaff.name %}{%else%}{% url 'trades' %}{%endif%}">view all</a></small>
	    <div id="trades">
		    <h1>Trades</h1> 
    <ul id="ul_trade">
        {% include 'da_wire/transaction_type/trade.html' %}
    </ul>

	{% if request.resolver_match.view_name != "transaction" %}
    <form {% if request.resolver_match.view_name == 'index' %} 
			action="{% url 'pick_page' %}"
			{%else %}
			action="{% url 'pick_page_team' %}"
			{%endif%} method="GET" id="trade_form">
            {% if request.resolver_match.view_name == 'team' %}
			<input type="hidden" name="mid" value="{{ mlbaff.id }}" />
			{% endif %}    
	
	    <input id="trade_index" type="hidden" name="index" value="1" />
                <input id="trade_transaction_type" name="transaction_type" type="hidden" value="trade" />
                <input id="trade_team" name="team" type="hidden" value="{{players.all.0.mlbaffiliate.name}}" />
                <input id="trade_level" name="level" type="hidden" value="{{players.all.0.mlbaffiliate.level.level}}" />
                <nav aria-label="...">
                    <ul class="pagination pagination-sm flex-wrap">
                        <li class="page-item active" aria-current="page" id="trade_1">
                          <span class="page-link" onclick="pick_page('1', 'trade');">1</span>
                        </li>
			{% if trades.range %}
                    {% for i in trades.range %}
                        <li class="page-item" id="trade_{{i}}">
                            <span class="page-link" href="#" onclick="pick_page('{{i}}', 'trade');">{{i}}</span>
                        </li>
                    {% endfor %}
		    {% else %}	
		    {% for i in trades_range %}
                        <li class="page-item" id="trade_{{i}}">
                            <span class="page-link" href="#" onclick="pick_page('{{i}}', 'trade');">{{i}}</span>
                        </li>
			{% endfor %}
		    {% endif%}
                    </ul>
                </nav>
            </form>
	    {% endif %}
    </div>
    </div> 
    {% endif %}
    </div>
    {% if injured_list %} 
    <div class="row">

    <div class="r {% if request.resolver_match.view_name != 'transaction' %}  col-sm-12 {%else%} col-sm-12 {% endif %}">
<small  style="padding:10px;"><a style="float:right;  " href="{% if request.resolver_match.view_name == 'team' %}{% url 'team_il' mlbaff.location|replace_forward_slash mlbaff.name %}{%else%}{% url 'il' %}{%endif%}">view all</a></small>
	    <div id="injured_list"><h1>Injured List</h1> 
  
        <ul id="ul_injured">
        {% include 'da_wire/transaction_type/injured.html' %}
    </ul>

	{% if request.resolver_match.view_name != "transaction" %}
    <form {% if request.resolver_match.view_name == 'index' %} 
			action="{% url 'pick_page' %}"
			{%else %}
			action="{% url 'pick_page_team' %}"
			{%endif%} method="GET" id="injured_form">
            {% if request.resolver_match.view_name == 'team' %}
			<input type="hidden" name="mid" value="{{ mlbaff.id }}" />
			{% endif %}    
	
	    <input id="injured_index" type="hidden" name="index" value="1" />
                <input id="injured_transaction_type" name="transaction_type" type="hidden" value="injured" />
                <nav aria-label="...">
                    <ul class="pagination pagination-sm flex-wrap">
                        <li class="page-item active" aria-current="page" id="injured_1">
                          <span class="page-link" onclick="pick_page('1', 'injured');">1</span>
                        </li>
                    {% for i in injured_list.range %}
                        <li class="page-item" id="injured_{{i}}">
                            <span class="page-link" href="#" onclick="pick_page('{{i}}', 'injured');">{{i}}</span>
                        </li>
                    {% endfor %}
                    </ul>
                </nav>
            </form>
	    {% endif %}
    </div>
    </div>
  	</div>
    {% endif %}
  
    {% if fa_signings %}
    <div class="row">

    <div class="r {% if request.resolver_match.view_name != 'transaction' %}  col-sm-12 {%else%} col-sm-12 {% endif %}">
	    <small  style="padding:10px;"><a style="float:right; " href="{% if request.resolver_match.view_name == 'team' %}{% url 'team_fa_signings' mlbaff.location|replace_forward_slash mlbaff.name %}{%else%}{% url 'fa_signings' %}{%endif%}">view all</a></small>
	    <div id="fa_signings">
		    <h1>FA Signings</h1> 
  
    <ul id="ul_fa_signing">
        {% include 'da_wire/transaction_type/fa_signing.html' %}
    </ul>

	{% if request.resolver_match.view_name != "transaction" %}
    <form {% if request.resolver_match.view_name == 'index' %} 
			action="{% url 'pick_page' %}"
			{%else %}
			action="{% url 'pick_page_team' %}"
			{%endif%} method="GET" id="fa_signing_form">
            {% if request.resolver_match.view_name == 'team' %}
			<input type="hidden" name="mid" value="{{ mlbaff.id }}" />
			{% endif %}    
	    <input id="fa_signing_index" type="hidden" name="index" value="1" />
                <input id="fa_signing_transaction_type" name="transaction_type" type="hidden" value="fa_signing" />
                <nav aria-label="...">
                    <ul class="pagination pagination-sm flex-wrap">
                        <li class="page-item active" aria-current="page" id="fa_signing_1">
                          <span class="page-link" onclick="pick_page('1', 'fa_signing');">1</span>
                        </li>
                    {% for i in fa_signings.range %}
                        <li class="page-item" id="fa_signing_{{i}}">
                            <span class="page-link" href="#" onclick="pick_page('{{i}}', 'fa_signing');">{{i}}</span>
                        </li>
                    {% endfor %}
                    </ul>
                </nav>
            </form>
	    {% endif %}
    </div>
    </div>
    </div>
    {%endif %}

	    {% if personal_leave %}
    <div class="row">

    <div class="r {% if request.resolver_match.view_name != 'transaction' %}  col-sm-12 {%else%} col-sm-12 {% endif %}">
	    <small  style="padding:10px;"><a style="float:right;  " href="{% if request.resolver_match.view_name == 'team' %}{% url 'team_personal_leave' mlbaff.location|replace_forward_slash mlbaff.name %}{%else%}{% url 'personal_leave' %}{%endif%}">view all</a></small>
	    <div id="personal_leave">
	    <h1>Personal Leave</h1> 
  
    <ul id="ul_personal_leave">
        {% include 'da_wire/transaction_type/personal_leave.html' %}
    </ul>

	{% if request.resolver_match.view_name != "transaction" %}
    <form {% if request.resolver_match.view_name == 'index' %} 
			action="{% url 'pick_page' %}"
			{%else %}
			action="{% url 'pick_page_team' %}"
			{%endif%} method="GET" id="personal_leave_form">
                {% if request.resolver_match.view_name == 'team' %}
			<input type="hidden" name="mid" value="{{ mlbaff.id }}" />
			{% endif %}
	    	<input id="personal_leave_index" type="hidden" name="index" value="1" />
                <input id="personal_leave_transaction_type" name="transaction_type" type="hidden" value="personal_leave" />
                <nav aria-label="...">
                    <ul class="pagination pagination-sm flex-wrap">
                        <li class="page-item active" aria-current="page" id="personal_leave_1">
                          <span class="page-link" onclick="pick_page('1', 'personal_leave');">1</span>
                        </li>
                    {% for i in personal_leave.range %}
                        <li class="page-item" id="personal_leave_{{i}}">
                            <span class="page-link" href="#" onclick="pick_page('{{i}}', 'personal_leave');">{{i}}</span>
                        </li>
                    {% endfor %}
                    </ul>
                </nav>
            </form>
	    {% endif %}
    </div>
    </div>
    </div>
    
    {% endif %}
    {% if rehab_assignment %}
    <div class="row">

    <div class="r {% if request.resolver_match.view_name != 'transaction' %}  col-sm-12  {%else%} col-sm-12 {% endif %}">
	    <small  style="padding:10px;"><a style="float:right;" href="{% if request.resolver_match.view_name == 'team' %}{% url 'team_rehab' mlbaff.location|replace_forward_slash mlbaff.name %}{%else%}{% url 'rehab' %}{%endif%}">view all</a></small>
	    <div id="rehab">
		    <h1>Rehab Assignment</h1> 
  
    <ul id="ul_rehab">
        {% include 'da_wire/transaction_type/rehab_assignment.html' %}
    </ul>

	{% if request.resolver_match.view_name != "transaction" %}
    <form {% if request.resolver_match.view_name == 'index' %} 
			action="{% url 'pick_page' %}"
			{%else %}
			action="{% url 'pick_page_team' %}"
			{%endif%} method="GET" id="rehab_form">
          	{% if request.resolver_match.view_name == 'team' %}
			<input type="hidden" name="mid" value="{{ mlbaff.id }}" />
			{% endif %}
	    	<input id="rehab_index" type="hidden" name="index" value="1" />
                <input id="rehab_transaction_type" name="transaction_type" type="hidden" value="rehab" />
                <nav aria-label="...">
                    <ul class="pagination pagination-sm flex-wrap">
                        <li class="page-item active" aria-current="page" id="rehab_1">
                          <span class="page-link" onclick="pick_page('1', 'rehab');">1</span>
                        </li>
                    {% for i in rehab_assignment.range %}
                        <li class="page-item" id="rehab_{{i}}">
                            <span class="page-link" href="#" onclick="pick_page('{{i}}', 'rehab');">{{i}}</span>
                        </li>
                    {% endfor %}
                    </ul>
                </nav>
            </form>
	    {% endif %}
    </div>
    </div>
    </div>
    {% endif %}
