<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
    		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      			<span class="navbar-toggler-icon"></span>
    		</button>
	<div class="d-md-flex d-block flex-row mx-md-auto mx-0">
	  	<a class="navbar-brand" href="{% url 'index' %}">Waiver Wire</a>
	        <div class="collapse navbar-collapse mr-auto" id="navbarNavDropdown">	
		<ul class="navbar-nav">
			{% load da_wire_extras %}
			{% is_pro request.user as tf %}
			{% if tf %}
          		<li class="nav-item dropdown">
          			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            				Proposals
          			</a>
          			<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<li><a class="dropdown-item" href="{% url 'proposals' %}">View Proposals</a></li>
            				<li><a class="dropdown-item" href="{% url 'create_trade_proposal' %}">Create Trade Proposal</a></li>
            				<li><a class="dropdown-item" href="{% url 'create_callup_proposal' %}">Create Callup Proposal</a></li>
            				<li><a class="dropdown-item" href="{% url 'create_option_proposal' %}">Create Option Proposal</a></li>
            				<li><a class="dropdown-item" href="{% url 'create_signing_proposal' %}">Create Signing Proposal</a></li>
				</ul>
          		</li>
			{% endif %}
			<li class="nav-item dropdown">
          			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            				AL
          			</a>
          			<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					{% for team in teams %}
						{% if not team.mlbteam.is_NL %}
            				<li><a class="dropdown-item" href="{% url 'team' team.location team.name %}">{{ team.location }} {{ team.name }}</a></li>
          					{% endif %}
	    				{% endfor %}
				</ul>
          		</li>
	  		<li class="nav-item dropdown">
          			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            				NL
          			</a>
				<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
			{% for team in teams %}
				{% if team.mlbteam.is_NL %}
            				<li><a class="dropdown-item" href="{% url 'team' team.location team.name %}">{{ team.location }} {{ team.name }}</a></li>
          			{% endif %}
	    		{% endfor %}
				</ul>
	  		</li>
        {% if not request.user.is_authenticated %}
      			<li class="nav-item">
          			<a class="nav-link" href="{% url 'register_page' %}">Register</a>
      			</li>
		</ul>
		<form class="d-flex float-right" method="POST" action="{% url 'login' %}">
      					<span class="input-group-text" id="basic-addon1">@</span>
      					<input type="text" name="username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
      					<span class="input-group-text" id="basic-addon2">***</span>
      					<input type="password" name="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon2">
        				<button formmethod="post" class="btn btn-outline-success" type="submit">Login</button>
        				{% csrf_token %}
      		</form>
      {% else %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'user_page' request.user.id %}">@{{request.user.username}}{% if tf %}<sup style="color: gold;">Pro</sup>{%endif%}</a>
          		</li>
		</ul>
		<form class="d-flex" method="POST" action="{% url 'logout' %}">
			{% csrf_token %}
			<button class="btn btn-outline-success" type="submit">Logout</button>		
		</form>	
		{% if not tf %}
		&nbsp;
		<form action="{% url 'upgrade_to_pro' %}" method="GET">
			<button class="btn btn-warning">Upgrade to Pro for just $4.99</button>  
		</form>
      		{% endif %}
      {% endif %}
      		&nbsp;
		<form class="d-flex float-right" method="GET" action="{% url 'player_search' %}">
			<input class="form-control me-2" type="search" name="search" placeholder="Player Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
		</form>				
		</div>	
    	</div>
	</div>
</nav>
