{% load da_wire_extras %}
{% get_transaction_type request t as type %}
{% if type.fas %}
<ul>
	<h5>Free Agent</h5>
	{% include 'da_wire/transaction_type/fa.html' with fas=type.fas %}
</ul>
{% elif type.non_fas %}
<ul>
	<h5>{{ type.non_fas.all.0.mlbaffiliate }} #{{type.non_fas.all.0.number}}</h5>
	{% include 'da_wire/transaction_type/fa.html' with fas=type.non_fas %}
</ul>
{% elif type.callups %}
<ul>
	<h5>Callup</h5>
	{% include 'da_wire/transaction_type/callup.html' with callups=type.callups %}
</ul>
{% elif type.options %}
<ul>
	<h5>Option</h5>
	{% include 'da_wire/transaction_type/option.html' with options=type.options %}
</ul>
{% elif type.dfas %}
<ul>
	<h5>DFA</h5>
	{% include 'da_wire/transaction_type/dfa.html' with dfas=type.dfas %}
</ul>
{% elif type.trades %}
<ul>
	<h5>Trade</h5>
	{% include 'da_wire/transaction_type/trade.html' with trades=type.trades %}
</ul>
{% elif type.waiver_claims %}
<ul>
	<h5>Waiver Claim</h5>
	{% include 'da_wire/transaction_type/waiver_claim.html' with waiver_claims=type.waiver_claims %}
</ul>
{% elif type.fa_signings %}
<ul>
	<h5>FA Signing</h5>
	{% include 'da_wire/transaction_type/fa_signing.html' with fa_signings=type.fa_signings %}
</ul>
{% elif type.il %}
<ul>
	<h5>Injured List</h5>
	{% include 'da_wire/transaction_type/injured.html' with injured_list=type.il %}
</ul>
{% elif type.rehab_assignment %}
<ul>
	<h5>Rehab Assignment</h5>
	{% include 'da_wire/transaction_type/rehab_assignment.html' with rehab_assignment=type.rehab_assignment %}
</ul>
{% elif type.personal_leave %}
<ul>
	<h5>Personal Leave</h5>
	{% include 'da_wire/transaction_type/personal_leave.html' with personal_leave=type.personal_leave %}
</ul>
{% elif type.trade_proposals %}
<ul>
	<h5>Trade Proposal</h5>
	{% include 'da_wire/transaction_type/trade_proposal.html' with trade_proposals=type.trade_proposals %}
</ul>
{% elif type.callup_proposals %}
<ul>
	<h5>Callup Proposal</h5>
	{% include 'da_wire/transaction_type/callup_proposal.html' with callup_proposals=type.callup_proposals %}
</ul>
{% elif type.option_proposals %}
<ul>
	<h5>Option Proposal</h5>
	{% include 'da_wire/transaction_type/option_proposal.html' with option_proposals=type.option_proposals %}
</ul>
{% elif type.signing_proposals %}
<ul>
	<h5>Signing Proposal</h5>
	{% include 'da_wire/transaction_type/signing_proposal.html' with signing_proposals=type.signing_proposals %}
</ul>
{% elif type.none %}
<ul>
	<h5>Sign Up for a Pro Account</h5>
	<p> In order to view this user proposal, you must have a Pro Account.
</ul>
{% endif %}
