{% load da_wire_extras %}
<html lang="en">
<head>
    <title>Waiver Wire</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    {% load static %}
    <link rel="shortcut icon" href="{% static 'da_wire/favicon.ico' %}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <style>
        :root {
          --blue: #002D72;
          --red: #D50032;
        }
        body{
            background-color: var(--blue);
            color: #ffffff;
        }
        .r {
            height: 340px;
            overflow-y: scroll;
            padding: 10px;
        }
        .container {
	padding-top: 20px;
            background-color: #4abc29;
	    margin-bottom: 80px;
	    padding-bottom: 10px;
	}
        .col {
            display:table-row;
        }
        .r {
            background-color: #ffffff;
            display: table-cell;
            border: 1px dashed var(--red);
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            color: var(--blue);
        }
        .r::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .r {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
        }
        .up{
            background-image: url("{% static 'da_wire/up.png' %}");
        }
        .down{
            background-image: url("{% static 'da_wire/down.png' %}");
        }
        .up, .down{
            background-repeat: no-repeat;
            background-size: 18px;
            width: 20px;
            height: 20px;
            margin: 2px 0;
            opacity: .35;
        }
        .up:hover, .down:hover{
            opacity: 1;
            cursor: pointer;
        }
        .arrows{
            display: inline;
            float: right;        
            {% if not request.user.is_authenticated %}
                display: none;
            {% endif %}
        }
        #main{
            margin-bottom: 25px;
            border: 3px dashed white;
            padding: 5px;
            background-color: orange;
        }
        #main .up, #main .down{
            background-size: 36px;
            width: 40px;
            height: 40px;
            margin: 4px 0;
        }
        .arrows{
            margin-top: -23px;
        }
        li.something{
            list-style-type: none;
            height: 50px;
        }
        .comments .comment{
            border: 3px dashed white;
            margin: 10px 0;
            padding: 10px;
            background-color: var(--red);
        }
	.content{
	   border: 3px dashed white;
	   padding: 10px;
	   background-color: var(--blue);
	   width: 800px;
	}
        .comments .comment .text{
             word-wrap: break-word;
             width: 800px;
        }
        .comments .comment .text{
            background-color: var(--blue);
            padding: 10px;
            border: 3px dashed white;
        }
	#main{
		padding: 30px;
	}
        #main .count{
            font-size: 40px;
        }
        textarea{
            width: 100%;
        }
        .upvoted{
            opacity: 1;
        }
	.count{
		float: right;
	}
        @media(max-width:800px){
            .comments .comment .text{
            width: 220px;
            }
	    .content{
		width: 220px;
	    }
        }
    </style>
    {% if request.user.is_authenticated %}
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
          integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"></script>
      
      <script>
          $(document).ready(function(){
              {% if user_transaction_vote %}
                  {% if user_transaction_vote.is_up %}
                      $('#main .up').addClass('upvoted');
                  {% else %}
                      $('#main .down').addClass('upvoted');
                  {% endif %}
              {% endif %}
              {% for comment in comments %}
                  {% if comment.user_upvoted == 1 %}
                         $('#comment_{{comment.id}} .up').addClass('upvoted');
                  {% elif comment.user_upvoted == -1 %}       
                         $('#comment_{{comment.id}} .down').addClass('upvoted');
                  {% endif %}
              {% endfor %}
          });
      
          function ajax_submit_upvote(){
              form = $('#transaction_upvote');
                  $.ajax({
                    type: "POST",
                    url: "{% url 'transaction_upvote' %}", 
                    data: form.serialize(),
                    success : function(data) {
                         if (data === "upvote"){
                             $("#main .up").addClass('upvoted');
                             $("#main .count").html((parseInt($("#main .count").html())+1).toString())
                         }
                         else if(data === "undo"){
                             $("#main .up").removeClass('upvoted');
                             $("#main .count").html((parseInt($("#main .count").html())-1).toString())
                         }
                         else{
                             $("#main .down").removeClass('upvoted');
                             $("#main .up").addClass('upvoted');
                             $("#main .count").html((parseInt($("#main .count").html())+2).toString())
                         }
                     }
                });
            }
            
            function ajax_submit_downvote(){
              form = $('#transaction_downvote');
                  $.ajax({
                    type: "POST",
                    url: "{% url 'transaction_downvote' %}", 
                    data: form.serialize(),
                    success : function(data) {
                         if (data === "downvote"){
                             $("#main .down").addClass('upvoted');
                             $("#main .count").html((parseInt($("#main .count").html())-1).toString())
                         }
                         else if(data === "undo"){
                             $("#main .down").removeClass('upvoted');
                             $("#main .count").html((parseInt($("#main .count").html())+1).toString())
                         }
                         else{
                             $("#main .up").removeClass('upvoted');
                             $("#main .down").addClass('upvoted');
                             $("#main .count").html((parseInt($("#main .count").html())-2).toString())
                         }
                     }
                });
            }
            
            function ajax_submit_upvote_comment(id){
              form = $('#comment_upvote_' + id);
                  $.ajax({
                    type: "POST",
                    url: "{% url 'comment_upvote' %}", 
                    data: form.serialize(),
                    success : function(data) {
                         if (data === "upvote"){
                             $("#comment_" + id + " .up").addClass('upvoted');
                             $("#comment_" + id + " .count").html((parseInt($("#comment_" + id + " .count").html())+1).toString())
                         }
                         else if(data === "undo"){
                             $("#comment_" + id + " .up").removeClass('upvoted');
                             $("#comment_" + id + " .count").html((parseInt($("#comment_" + id + " .count").html())-1).toString())
                         }
                         else{
                             $("#comment_" + id + " .down").removeClass('upvoted');
                             $("#comment_" + id + " .up").addClass('upvoted');
                             $("#comment_" + id + " .count").html((parseInt($("#comment_" + id + " .count").html())+2).toString())
                         }
                     }
                });
            }
            
            function ajax_submit_downvote_comment(id){
              form = $('#comment_downvote_' + id);
                  $.ajax({
                    type: "POST",
                    url: "{% url 'comment_downvote' %}", 
                    data: form.serialize(),
                    success : function(data) {
                         if (data === "downvote"){
                             $("#comment_" + id + " .down").addClass('upvoted');
                             $("#comment_" + id + " .count").html((parseInt($("#comment_" + id + " .count").html())-1).toString())
                         }
                         else if(data === "undo"){
                             $("#comment_" + id + " .down").removeClass('upvoted');
                             $("#comment_" + id + " .count").html((parseInt($("#comment_" + id + " .count").html())+1).toString())
                         }
                         else{
                             $("#comment_" + id + " .up").removeClass('upvoted');
                             $("#comment_" + id + " .down").addClass('upvoted');
                             $("#comment_" + id + " .count").html((parseInt($("#comment_" + id + " .count").html())-2).toString())
                         }
                     }
                });
            }
      </script>
      {% endif %}
</head>
<body>
{% include 'da_wire/header.html' %}
<div class="container">
{% if fa %}
    <h1>{{ fa.first_name }} {{ fa.last_name }} (Free Agent)</h1>
    <div id="main">
        <div style="display:inline;" class="count">{{ votes }}</div>
        <div class="arrows">
            <form id="transaction_upvote" action="{% url 'transaction_upvote' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tid" value="{{ fa.transaction.tid }}">
            </form>
            <form id="transaction_downvote" action="{% url 'transaction_downvote' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tid" value="{{ fa.transaction.tid }}">
            </form>
            <div class="up" onclick="ajax_submit_upvote()"></div>
            <div class="down" onclick="ajax_submit_downvote()"></div>
        </div>
        <div>
            <h5>{{fa.position}}</h5>
	    <a href="{{ fa.bb_ref }}" target=_blank>More info</a>
        </div>
    </div>
{% elif non_fa %}
    <div id="main">
        <div style="display:inline;" class="count">{{ votes }}</div>
        <div class="arrows">
            <form id="transaction_upvote" action="{% url 'transaction_upvote' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tid" value="{{ non_fa.transaction.tid }}">
            </form>
            <form id="transaction_downvote" action="{% url 'transaction_downvote' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tid" value="{{ non_fa.transaction.tid }}">
            </form>
            <div class="up" onclick="ajax_submit_upvote()"></div>
            <div class="down" onclick="ajax_submit_downvote()"></div>
        </div>
        <div class="display">

		<h1>{{ non_fa.first_name }} {{ non_fa.last_name }} <i style="color:#aaaaaa;">#{{ non_fa.number }}</i>   </h1> 
		<h2><a href="{% url 'team' type.level type.name %}">{{type}}</a></h2>
		<h3 style="display:inline;"><b> {{non_fa.position}} </b></h3>
		
            	<a style="display:inline;" href="{{ non_fa.bb_ref }}" target=_blank>More info</a> </h3>
        </div>
    </div>
{% elif dfa %}
    <h1>{{type}}</h1>
    <div id="main">
        <div style="display:inline;" class="count">{{ votes }}</div>
        <div class="arrows">
            <form id="transaction_upvote" action="{% url 'transaction_upvote' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tid" value="{{ dfa.transaction.tid }}">
            </form>
            <form id="transaction_downvote" action="{% url 'transaction_downvote' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tid" value="{{ dfa.transaction.tid }}">
            </form>
            <div class="up" onclick="ajax_submit_upvote()"></div>
            <div class="down" onclick="ajax_submit_downvote()"></div>
        </div>
        <div>
		<h4>{{ dfa.player.first_name }} {{ dfa.player.last_name }} DFA'd by <a href="{% url 'team' dfa.team_by.level.level dfa.team_by.name %}">{{dfa.team_by}}</a> on <b>{{ dfa.date }}</b></h4>
	    <div class="content">
	    <h5>Number: #{{dfa.player.number}} </h5>
            <h5>Position: {{dfa.player.position}}</h5>
            <a href="{{ dfa.player.bb_ref }}" target=_blank>more info</a>
	    </a>
	   </div>
    </div>
    </div>
{% elif callup %}
    <h1>{{type}}</h1>
    <div id="main">
        <div style="display:inline;" class="count">{{ votes }}</div>
        <div class="arrows">
            <form id="transaction_upvote" action="{% url 'transaction_upvote' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tid" value="{{ callup.transaction.tid }}">
            </form>
            <form id="transaction_downvote" action="{% url 'transaction_downvote' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tid" value="{{ callup.transaction.tid }}">
            </form>
            <div class="up" onclick="ajax_submit_upvote()"></div>
            <div class="down" onclick="ajax_submit_downvote()"></div>
        </div>
        <div>
<b>{{callup.date }}</b> - <a href="{% url 'transaction' callup.player.transaction.tid %}">{{callup.player.first_name }} {{ callup.player.last_name }}</a> 
        {% get_affiliate callup.to_level.level callup.mlbteam as team_to %}
        to {{team_to.location }} {{team_to.name }} from 
        {% get_affiliate callup.from_level.level callup.mlbteam as team %}
        <a href="{% url 'team' callup.from_level.level team.name %}">{{callup.from_level.level }} {{ team.location }}</a>
		
	<h4>{{ callup.player.first_name }} {{ callup.player.last_name }} called up from {{callup.from_level}} to {{ callup.to_level }}</h4>
	    <h5 style="display:inline;"><b>{{callup.player.position}}</b></h5>
            <a style="display:inline;" href="{{ callup.player.bb_ref }}" target=_blank>More info</a>
        </div>
    </div>

{% elif option %}
    <h1>{{type}}</h1>
    <div id="main">
        <div style="display:inline;" class="count">{{ votes }}</div>
        <div class="arrows">
            <form id="transaction_upvote" action="{% url 'transaction_upvote' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tid" value="{{ option.transaction.tid }}">
            </form>
            <form id="transaction_downvote" action="{% url 'transaction_downvote' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tid" value="{{ option.transaction.tid }}">
            </form>
            <div class="up" onclick="ajax_submit_upvote()"></div>
            <div class="down" onclick="ajax_submit_downvote()"></div>
        </div>
        <div class="display">
		<b>{{option.date }}</b> - <a href="{% url 'transaction' option.player.transaction.tid %}">{{option.player.first_name }} {{ option.player.last_name }}</a>
        {% get_affiliate option.to_level.level option.mlbteam as team_to %}
        to {{team_to.location }} {{team_to.name }} ({{ option.to_level.level }}) from {{ option.from_level.level }} 
        {% get_affiliate option.from_level.level option.mlbteam as team %}
        <a href="{% url 'team' option.from_level.level team.name %}">{{ team.location }}</a>
		
	
            <h4>{{ option.player.first_name }} {{ option.player.last_name }} optioned by {{option.from_level}} to {{ option.to_level }}</h4>
            <h5>#{{option.player.number}} </h5>
            <h5>{{option.player.position}}</h5>
            <a href="{{ option.player.bb_ref }}" target=_blank>More info</a>
        </div>
    </div>
{% elif rehab_assignment %}
    <h1>{{type}}</h1>
    <div id="main">
        <div style="display:inline;" class="count">{{ votes }}</div>
        <div class="arrows">
            <form id="transaction_upvote" action="{% url 'transaction_upvote' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tid" value="{{ rehab_assignment.transaction.tid }}">
            </form>
            <form id="transaction_downvote" action="{% url 'transaction_downvote' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tid" value="{{ rehab_assignment.transaction.tid }}">
            </form>
            <div class="up" onclick="ajax_submit_upvote()"></div>
            <div class="down" onclick="ajax_submit_downvote()"></div>
        </div>
        <div>
            <h4>{{ rehab_assignment.player.first_name }} {{ rehab_assignment.player.last_name }} assigned to {{rehab_assignment.to_level}} from {{ rehab_assignment.from_level }} for rehab</h4>
            <h5>#{{rehab_assignment.player.number}} </h5>
            <h5>{{rehab_assignment.player.position}}</h5>
            <a href="{{ option.player.bb_ref }}" target=_blank>More info</a>
        </div>
    </div>  
{% elif trade %}
    <h1>{{type}}</h1>
    <div id="main">
        <div style="display:inline;" class="count">{{ votes }}</div>
        <div class="arrows">
            <form id="transaction_upvote" action="{% url 'transaction_upvote' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tid" value="{{ trade.transaction.tid }}">
            </form>
            <form id="transaction_downvote" action="{% url 'transaction_downvote' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tid" value="{{ trade.transaction.tid }}">
            </form>
            <div class="up" onclick="ajax_submit_upvote()"></div>
            <div class="down" onclick="ajax_submit_downvote()"></div>
        </div>
        <div class="display">
		<b>{{ trade.date }}</b>
			{% for players in trade.players.all %}{% with forloop.counter as cntr %} {% for player in players.players.all %} 
			<div><a href="{% url 'transaction' player.transaction.tid %}">{{player.first_name}} {{player.last_name}}</a>
	to {{players.team_to.mlbteam.name}} (from <a href="{% url 'team' players.team_from.level.level players.team_from.name %}">{{players.team_from.mlbteam.name}}</a>){% if cntr != trade.players.all|length %} 
	{% endif %}</div> {% endfor %}{% endwith %} 
        {% endfor %}

        </div>
    </div>
{% elif injury %}
    <h1>{{type}}</h1>
    <div id="main">
        <div style="display:inline;" class="count">{{ votes }}</div>
        <div class="arrows">
            <form id="transaction_upvote" action="{% url 'transaction_upvote' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tid" value="{{ injury.transaction.tid }}">
            </form>
            <form id="transaction_downvote" action="{% url 'transaction_downvote' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tid" value="{{ injury.transaction.tid }}">
            </form>
            <div class="up" onclick="ajax_submit_upvote()"></div>
            <div class="down" onclick="ajax_submit_downvote()"></div>
        </div>
        <div>
            <h4>{{injury.date}} - <a href="{{injured.player.bb_ref}}" target=_blank>{{injury.player.first_name}} {{injury.player.last_name}}</a> - {{injury.length}}-day IL</h4>
        </div>
    </div> 
{% elif fa_signing %}
    <h1>{{type}}</h1>
    <div id="main">
        <div style="display:inline;" class="count">{{ votes }}</div>
        <div class="arrows">
            <form id="transaction_upvote" action="{% url 'transaction_upvote' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tid" value="{{ fa_signing.transaction.tid }}">
            </form>
            <form id="transaction_downvote" action="{% url 'transaction_downvote' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tid" value="{{ fa_signing.transaction.tid }}">
            </form>
            <div class="up" onclick="ajax_submit_upvote()"></div>
            <div class="down" onclick="ajax_submit_downvote()"></div>
        </div>
        <div>
            <h4>{{fa_signing.date}} - <a href="{{fa_signing.player.bb_ref}}" target=_blank>{{fa_signing.player.first_name}} {{fa_signing.player.last_name}}</a> to {{fa_signing.team_to.location}} {{fa_signing.team_to.name}}</h4>
        </div>
    </div> 
{% elif draft_signing %}
    <h1>{{type}}</h1>
    <div id="main">
        <div style="display:inline;" class="count">{{ votes }}</div>
        <div class="arrows">
            <form id="transaction_upvote" action="{% url 'transaction_upvote' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tid" value="{{ draft_signing.transaction.tid }}">
            </form>
            <form id="transaction_downvote" action="{% url 'transaction_downvote' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tid" value="{{ draft_signing.transaction.tid }}">
            </form>
            <div class="up" onclick="ajax_submit_upvote()"></div>
            <div class="down" onclick="ajax_submit_downvote()"></div>
        </div>
        <div>
            <h4>{{draft_signing.date}} - <a href="{{draft_signing.player.bb_ref}}" target=_blank>{{draft_signing.player.first_name}} {{draft_signing.player.last_name}}</a> to {{draft_signing.team_to.location}} {{draft_signing.team_to.name}}</h4>
        </div>
    </div> 
{% elif personal_leave %}
    <h1>{{type}}</h1>
    <div id="main">
        <div style="display:inline;" class="count">{{ votes }}</div>
        <div class="arrows">
            <form id="transaction_upvote" action="{% url 'transaction_upvote' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tid" value="{{ personal_leave.transaction.tid }}">
            </form>
            <form id="transaction_downvote" action="{% url 'transaction_downvote' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="tid" value="{{ personal_leave.transaction.tid }}">
            </form>
            <div class="up" onclick="ajax_submit_upvote()"></div>
            <div class="down" onclick="ajax_submit_downvote()"></div>
        </div>
        <div>
            <h4>{{personal_leave.date}} - <a href="{{personal_leave.player.bb_ref}}">{{personal_leave.player.first_name}} {{personal_leave.player.last_name}}</a> for {{personal_leave.length}} days</h4>
        </div>
    </div>              
{% endif %}
    

{% include 'da_wire/comment.html' %}

</div>

{% include 'da_wire/footer.html' %}
</body>
</html>
