{% load da_wire_extras %}
<html lang="en">
<head>
    <title>Waiver Wire</title>
    <meta charset="UTF-8">
    <meta name="description" content="Change your password or delete your account.">
    <meta name="keywords" content="user, password, account, MLB, baseball, Majors, minors, transactions, trades, options, free agents, players, waivers, signings, signing">
    <meta name="author" content="Dan Frecka">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="shortcut icon" href="{% static 'da_wire/favicon.ico' %}"/> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <style>
        :root {
          --blue: #002D72;
          --red: #D50032;
        }
        body{
            background-color: var(--blue);
            color: #ffffff;
        }
	.r {
		padding: 4px;
	}
	.r>div:hover{
		cursor: pointer;
		background-color: #eee;
	}
	.r>div {
  	    margin: 2px;	   
  	    padding: 4px;
            background-color: #ffffff;
            border: 1px dashed var(--red);
	}
        .r {
            background-color: #ffffff;
            display: table-cell;
            border: 1px dashed var(--red);
            color: var(--blue);
        }
        .upvoted{
            opacity: 1;
        }
        {% load static %}
        .up{
            background-image: url("{% static 'da_wire/up.png' %}");
        }
        .down{
            background-image: url("{% static 'da_wire/down.png' %}");
        }
        .up, .down{
            background-repeat: no-repeat;
            background-size: 18px;
            width: 20px;
            height: 20px;
            margin: 2px 0;
            opacity: .35;
        }
        .up:hover, .down:hover{
            opacity: 1;
            cursor: pointer;
        }
        .arrows{
            display: inline;
            float: left;
            margin-top: -23px;
        }
        li.something{
            list-style-type: none;
            min-height: 50px;
        }
        .upvoted{
            opacity: 1;
        }
        #success{
            border: 1px solid white;
            background-color: #0f9;
        }
        #messages{
            border: 1px solid black;
            background-color: #f09;
        }
	.comments .comment{
            border: 3px dashed white;
            margin: 10px 0;
            padding: 10px;
            background-color: var(--red);
        }
	.content{
	   border: 3px dashed white;
	   padding: 10px;
	   background-color: var(--blue);
	   width: 800px;
	}
        .comments .comment .text{
             word-wrap: break-word;
             width: 800px;
        }
        .comments .comment .text{
            background-color: var(--blue);
            padding: 10px;
            border: 3px dashed white;
        }
	    .page-item{
         	cursor: pointer;
        }
	.comments .comment .text{
            background-color: var(--blue);
            padding: 10px;
            border: 3px dashed white;
        }
        @media(max-width:800px){
            .comments .comment .text{
            width: 220px;
            }
	    .content{
		width: 220px;
	    }
        }
	
    </style>
<script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
          integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"></script>
     
<script>
        function pick_page(index, transaction_type){
            form = $('#' + transaction_type + '_form');
            form.find('#' + transaction_type + '_index').val(index);
            $.ajax({
                    type: "POST",
                    url: "{% url 'pick_page' %}",
                    data: form.serialize(),
                    success : function(data) {
                         $('#ul_' + transaction_type).html(data);
                         form.find('.active').removeClass('active');
                         form.find('#' + transaction_type + '_' +index).addClass('active');
                     }
                });
        }
    </script>
</head>
<body>
    {% include 'da_wire/header.html' %}
    <div class="container">
       <h1>{{ request.user.username }}</h1>
       {% if messages %}
       {% for message in messages %}
       <span id="messages">{{message}}</span>
       {%endfor %}
       {% endif %}
        <form action="{% url 'change_password' %}" method="POST">
            <label for="username">Username</label>
            <input value="{{request.user.username}}" readonly class="form-control" id="username" name="username" type="text" />
            <label for="email">Email</label>
            <input readonly value="{{request.user.email}}" class="form-control" id="email" name="email" type="email" />
            <label for="password">New Password</label>
            <input class="form-control" id="password" name="password" type="password" />
            <label for="confirm_password">Confirm New Password</label>
            <input class="form-control" id="confirm_password" name="confirm_password" type="password" />
            </br>
            {% csrf_token %}
            <button class="btn btn-primary" type=submit>Save Changes</button>
        </form>
	{% if not request.user.is_superuser %}
        <form onsubmit="return confirm('Are you sure you want to close your account? All your comments and votes will be deleted permanently. If you have upgraded your account, you cannot recover it.');" action="{% url 'deleteaccount' %}" method="POST">
            <button class="btn btn-danger" type=submit>Delete Account</button>
            {% csrf_token %}
        </form>
	{% is_pro request.user as tf %}
	{% if not tf %}
	<form action="{% url 'upgrade_to_pro' %}" method="GET">
		<button class="btn btn-warning">Upgrade to Pro for just $4.99</button>  
	</form>

	<p style="font-size: 25px;">
		With Pro, you gain the ability to view, upvote/downvote, and create transaction proposals including trades, options, callups, and Free Agent signings! Play GM with this all new feature. Plus, you can post comments for discussion of transactions and players! One time fee. No returns.
	</p>

	{% endif %}
		{% endif %}
	</hr>

	{% if trade_proposals %}
	<h1>Your Trade Proposals</h1>
    	<div class="row"> 
		<div class="r col-sm-12">
			<ul id="ul_trade_proposal">
	{% for trade_proposal in trade_proposals %}
				<li class="something">
				<h3 style="display:inline;">@{{trade_proposal.user.username}}</h3> 
				&middot; 
				<span>{{ trade_proposal.votes }} upvotes</span> 
				<a href="{% url 'transaction' trade_proposal.transaction.tid %}">&#8618;</a> 
       				<form  style="float:right;" onsubmit="return confirm('Are you sure you want to delete your proposal?');" action="{% url 'delete_transaction' %}" method="POST">
           		 		<button class="btn btn-danger" type=submit>Delete Proposal</button>
	    				<input type=hidden name="tid" value="{{ trade_proposal.transaction.tid }}" />
            				{% csrf_token %}
        			</form> 
				<div>
					<b style="display:inline;">{{ trade_proposal.date }}</b><a href="{% url 'transaction' trade_proposal.transaction.tid %}">&#8618;</a>
			{% for players in trade_proposal.players.all %}{% with forloop.counter as cntr %} {% for player in players.players.all %} 
					<div>
						<a href="{% url 'transaction' player.transaction.tid %}">
							{{player.first_name}} {{player.last_name}}
						</a>
						to {{players.team_to.mlbteam.name}} (from 
						<a href="{% url 'team' players.team_from.location|replace_forward_slash players.team_from.name %}">{{players.team_from.mlbteam.name}}</a>
						){% if cntr != trade_proposal.players.all|length %} {% endif %}
					</div> 
			{% endfor %}{% endwith %} 
			{% endfor %}
    				</div>
				</li>
				{%endfor %}
			</ul>
	<form action="{% url 'pick_page' %}" method="POST" id="trade_proposal_form">
	    <input id="trade_proposal_index" type="hidden" name="index" value="1" />
                <input id="trade_proposal_transaction_type" name="transaction_type" type="hidden" value="trade_proposal" />
                {% csrf_token %}
                <nav aria-label="...">
                    <ul class="pagination pagination-sm flex-wrap">
                        <li class="page-item active" aria-current="page" id="trade_proposal_1">
                          <span class="page-link" onclick="pick_page('1', 'trade_proposal');">1</span>
                        </li>
                    {% for i in trade_proposals.range %}
                        <li class="page-item" id="trade_proposal_{{i}}">
                            <span class="page-link" href="#" onclick="pick_page('{{i}}', 'trade_proposal');">{{i}}</span>
                        </li>
                    {% endfor %}
                    </ul>
                </nav>
	</form>

</div>
    </div>
	
	{% endif %}


	{% if callup_proposals %}

		<h1>Your Callup Proposals</h1>
<div class="row"><div class="r col-sm-12">
		<ul id="ul_callup_proposal">
		{% for callup_proposal in callup_proposals %}
		<li class="something">
	<h3 style="display:inline;">@{{callup_proposal.user.username}}</h3> &middot; <span>{{ callup_proposal.votes }} upvotes</span> <a href="{% url 'transaction' callup_proposal.transaction.tid %}">&#8618;</a> 
       	<form  style="float:right;" onsubmit="return confirm('Are you sure you want to delete your proposal?');" action="{% url 'delete_transaction' %}" method="POST">
            <button class="btn btn-danger" type=submit>Delete Proposal</button>
	    <input type=hidden name="tid" value="{{ callup_proposal.transaction.tid }}" />
            {% csrf_token %}
        </form> 
        <div>
<b>{{callup_proposal.date }}</b> - <a href="{% url 'transaction' callup_proposal.player.transaction.tid %}">{{callup_proposal.player.first_name }} {{ callup_proposal.player.last_name }}</a> 
        {% get_affiliate callup_proposal.to_level callup_proposal.mlbteam as team_to %}
        to {{team_to.location }} {{team_to.name }} from 
        {% get_affiliate callup_proposal.from_level callup_proposal.mlbteam as team %}
        <a href="{% url 'team' team.location|replace_forward_slash team.name %}">{{callup_proposal.from_level.level }} {{ team.location }}</a>
		
	<h4>{{ callup_proposal.player.first_name }} {{ callup_proposal.player.last_name }} <i>should be</i> called up from {{callup_proposal.from_level}} to {{ callup_proposal.to_level }}</h4>
	    <h5 style="display:inline;"><b>{{callup_proposal.player.position}}</b></h5>
            <a style="display:inline;" href="{{ callup_proposal.player.bb_ref }}" target=_blank>More info</a>
        </div>
		</li>
	{% endfor %}
		</ul>
<form action="{% url 'pick_page' %}" method="POST" id="callup_proposal_form">
	    <input id="callup_proposal_index" type="hidden" name="index" value="1" />
                <input id="callup_proposal_transaction_type" name="transaction_type" type="hidden" value="callup_proposal" />
                {% csrf_token %}
                <nav aria-label="...">
                    <ul class="pagination pagination-sm flex-wrap">
                        <li class="page-item active" aria-current="page" id="callup_proposal_1">
                          <span class="page-link" onclick="pick_page('1', 'callup_proposal');">1</span>
                        </li>
                    {% for i in callup_proposals.range %}
                        <li class="page-item" id="callup_proposal_{{i}}">
                            <span class="page-link" href="#" onclick="pick_page('{{i}}', 'callup_proposal');">{{i}}</span>
                        </li>
                    {% endfor %}
                    </ul>
                </nav>
	</form>


</div>
</div>
	{% endif %}

{% if option_proposals %}
    <h1>Your Option Proposals</h1>
    <div class="row"><div class="r col-sm-12">
		    <ul id="ul_option_proposal">
		    {% for option_proposal in option_proposals %}
		    <li class="something">
		<h3 style="display:inline;">@{{option_proposal.user.username}}</h3> &middot; <span>{{ option_proposal.votes }} upvotes</span> <a href="{% url 'transaction' option_proposal.transaction.tid %}">&#8618;</a> 
       	<form  style="float:right;" onsubmit="return confirm('Are you sure you want to delete your proposal?');" action="{% url 'delete_transaction' %}" method="POST">
            <button class="btn btn-danger" type=submit>Delete Proposal</button>
	    <input type=hidden name="tid" value="{{ option_proposal.transaction.tid }}" />
            {% csrf_token %}
        </form>
	<div>
		<b>{{option_proposal.date }}</b> - <a href="{% url 'transaction' option_proposal.player.transaction.tid %}">{{option_proposal.player.first_name }} {{ option_proposal.player.last_name }}</a> <i>should be</i> optioned
        {% get_affiliate option_proposal.to_level option_proposal.mlbteam as team_to %}
        to {{team_to.location }} {{team_to.name }} ({{ option_proposal.to_level.level }}) from {{ option_proposal.from_level.level }} 
        {% get_affiliate option_proposal.from_level option_proposal.mlbteam as team %}
        <a href="{% url 'team' team.location|replace_forward_slash team.name %}">{{ team.location }}</a>
		
	
	    <h4>@{{ option_proposal.user.username }} is proposing that {{ option_proposal.player.first_name }} {{ option_proposal.player.last_name }} be optioned from {{option_proposal.from_level}} to {{ option_proposal.to_level }}</h4>
	    {% if option_proposal.player.number %}<h5>#{{option_proposal.player.number}} </h5>{% endif %}
            <h5>{{option_proposal.player.position}}</h5>
            <a href="{{ option_proposal.player.bb_ref }}" target=_blank>More info</a>
       
	
	</div>
		    </li>
	{% endfor %}
		    </ul>
   <form action="{% url 'pick_page' %}" method="POST" id="option_proposal_form">
	    <input id="option_proposal_index" type="hidden" name="index" value="1" />
                <input id="option_proposal_transaction_type" name="transaction_type" type="hidden" value="option_proposal" />
                {% csrf_token %}
                <nav aria-label="...">
                    <ul class="pagination pagination-sm flex-wrap">
                        <li class="page-item active" aria-current="page" id="option_proposal_1">
                          <span class="page-link" onclick="pick_page('1', 'option_proposal');">1</span>
                        </li>
                    {% for i in option_proposals.range %}
                        <li class="page-item" id="option_proposal_{{i}}">
                            <span class="page-link" href="#" onclick="pick_page('{{i}}', 'option_proposal');">{{i}}</span>
                        </li>
                    {% endfor %}
                    </ul>
                </nav>
	</form>


	    </div>
    </div>

    {% endif %}


{% if signing_proposals %}
    <h1>Your Signing Proposals</h1>
    <div class="row"><div class="r col-sm-12">

		    <ul id="ul_signing_proposal">
			    {% include 'da_wire/transaction_type/signing_proposal.html' %}
		    </ul>
		
{% if request.resolver_match.view_name != "transaction" %}
    <form {% if not mlbaff %} 
			action="{% url 'pick_page' %}"
			{%else %}
			action="{% url 'pick_page_team' %}"
			{%endif%}  method="POST" id="signing_proposal_form">
            {% if request.resolver_match.view_name == 'team' %}
			<input type="hidden" name="mid" value="{{ mlbaff.id }}" />
			{% endif %}    
	
	    <input id="signing_proposal_index" type="hidden" name="index" value="1" />
                <input id="signing_proposal_transaction_type" name="transaction_type" type="hidden" value="signing_proposal" />
                {% csrf_token %}
                <nav aria-label="...">
                    <ul class="pagination pagination-sm flex-wrap">
                        <li class="page-item active" aria-current="page" id="signing_proposal_1">
                          <span class="page-link" onclick="pick_page('1', 'signing_proposal');">1</span>
                        </li>
                    {% for i in signing_proposals.range %}
                        <li class="page-item" id="signing_proposal_{{i}}">
                            <span class="page-link" href="#" onclick="pick_page('{{i}}', 'signing_proposal');">{{i}}</span>
                        </li>
                    {% endfor %}
                    </ul>
                </nav>
		{% if mlbaff %}
		<input type=hidden name="mid" value="{{mlbaff.id}}" />
		{% endif %}
		<input type=hidden name=bool value=1 />
            </form>
	    {% endif %}

    </div>
    </div>


    {% endif %}


	{% if comments %}
	<h1>Your comments</h1>
	<div class="comments">
	{% for comment in comments %}
		<div class="comment" style="min-height: 100px;">
			<div>{{comment.user.username }} | {{ comment.datetime|timesince }} ago &middot; {{comment.votes}} upvotes <a href="{% url 'transaction' comment.transaction.tid %}">&#8618;</a></div>
            <div class="text" >{{ comment.text|linebreaks }}</div>
            <div style="display: inline;" id="comment_{{comment.id}}">
		    <form action="{% url 'delete_comment' %}" method="POST">
			<input type=hidden name=comment_id value="{{comment.id}}" />
			{% csrf_token %}
			<button class="btn btn-danger">Delete Comment</button>
		</form>
	    </div>
        </div>
		{% endfor %}
	</div>
	{% endif %}

    </div>
    {% include 'da_wire/footer.html' %}
</body>
</html>
